/* === removing default highlight-button style ===*/
.highlight-button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* highlight-button styling */
.highlight-button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #FFFFFF;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: fixed;
  left: 38%;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on highlight-button */
.hover-text {
  /* position: absolute; */
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.actual-text {
  /* position: fixed; */
  position: fixed;
  /* top: 50%; */
  left: 38%;
  /* text-align: center; */
}
/* hover */
.highlight-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

.breath {
  animation: breath 3s infinite ease-in-out;
}

@keyframes breath {
  0% {
    color: var(--animation-color);
    filter: drop-shadow(0 0 23px var(--animation-color));
  }
  50% {
    color: transparent;
    filter: none;
  }
  75% {
    color: var(--animation-color);
    /* filter: drop-shadow(0 0 23px var(--animation-color)); */
  }

  100% {
    color: var(--animation-color);
    filter: drop-shadow(0 0 23px var(--animation-color));
  }
}