<head>
<style>
</style>
</head>

<body style="background-color: #212121;">

<p id="stdout"></p>
<canvas id="myCanvas" width="9496px" height="9048px" onmousemove="mouseMove(event)"></canvas>


<script>

let lsRecursiveData = 
{
  name: "Mathematics 1 Major",
  rhs: [
    {name:"ALGEBRA",rhs:[
      {name:"3. Trigonometry",rhs:[
        {name:"1.  sin(−θ) = − sin θ", rhs:[]},
        {name:"cos(−θ) = cos θ", rhs:[]},

        {name:"2. secθ = 1/cosθ    cosecθ = 1/sinθ", rhs:[]},
        {name:"tanθ = sinθ/cosθ    cotθ = cosθ/sinθ", rhs:[]},

        {name:"3. sin(θ + 2nπ) = sinθ    for any integer n", rhs:[]},
        {name:"cos(θ + 2nπ) = cosθ       for any integer n", rhs:[]},
        {name:"sin(π/2 - θ) = cosθ", rhs:[]},
        {name:"cos(π/2 - θ) = sinθ", rhs:[]},

        {name:"4. sin²θ + cos²θ = 1", rhs:[]},
        {name:"1 + tan²θ = sec²θ", rhs:[]},
        {name:"1 + cot²θ = cosec²θ", rhs:[]},

        {name:"5. Compound Angles:", rhs:[
          {name:"sin(θ ± φ) = sinθcosφ ± cosθsinφ", rhs:[]},
          {name:"cos(θ ± φ) = cosθcosφ ± sinθsinφ", rhs:[]},
          {name:"tan(θ ± φ) = (tanθ ± tanφ) / (1 ± tanθtanφ)", rhs:[]},
        ]},

        {name:"6.7. Double Angle Identities:", rhs:[
          {name:"6. sin(2θ) = 2sinθcosθ", rhs:[]},
          {name:"cos(2θ) = cos²θ - sin²θ", rhs:[
            {name:"cos(2θ) = 1 - 2sin²θ", rhs:[]},
            {name:"cos(2θ) = 2cos²θ - 1", rhs:[]},
          ]},

          {name:"7. sin²θ = (1 - cos(2θ)) / 2", rhs:[]},
          {name:"cos²θ = (1 + cos(2θ)) / 2", rhs:[]},
        ]},

        {name:"8. product-to-sum formulae:", rhs:[
          {name:"sinθcos(φ) = 1/2 (sin(θ + φ) + sin(θ - φ))", rhs:[]},
          {name:"cosθcos(φ) = 1/2 (cos(θ + φ) + cos(θ - φ))", rhs:[]},
          {name:"sinθsin(φ) = 1/2 (cos(θ - φ) - cos(θ + φ))", rhs:[]},
        ]},

        {name:"9. Sum-to-product formulae:", rhs:[
          {name:"sinθ + sinφ = 2 sin((θ + φ) / 2)cos((θ - φ) / 2)", rhs:[]},
          {name:"sinθ - sinφ = 2 cos((θ + φ) / 2)sin((θ - φ) / 2)", rhs:[]},
          {name:"cosθ + cosφ = 2 cos((θ + φ) / 2)cos((θ - φ) / 2)", rhs:[]},
          {name:"cosθ - cosφ = -2 sin((θ + φ) / 2)sin((θ - φ) / 2)", rhs:[]},
        ]},

      ]},

    ]},
    {name:"ALGEBRA", rhs:[
      {name:"TRIG", rhs:[
        {name:"Special Angles:", rhs:[

          {name:"sin(t)", rhs:[
            {name:"0°", rhs:[
              {name:"0", rhs:[]},
            ]},
            {name:"30 OR π/6", rhs:[
              {name:"1/2", rhs:[]},

            ]},
            {name:"45° OR π/4", rhs:[
              {name:"1/sqrt(2)", rhs:[]},

            ]},
            {name:"60° OR π/3", rhs:[
              {name:"sqrt(3)/2", rhs:[]},

            ]},
            {name:"90° OR π/2", rhs:[
              {name:"1", rhs:[]},
            ]},

          ]},
          {name:"cos(t)", rhs:[
            {name:"0°", rhs:[
              {name:"1", rhs:[]},
            ]},
            {name:"30 OR π/6", rhs:[
              {name:"sqrt(3)/2", rhs:[]},

            ]},
            {name:"45° OR π/4", rhs:[
              {name:"1/sqrt(2)", rhs:[]},

            ]},
            {name:"60° OR π/3", rhs:[
              {name:"1/2", rhs:[]},

            ]},
            {name:"90° OR π/2", rhs:[
              {name:"0", rhs:[]},
            ]},

          ]},
          {name:"tan(t)", rhs:[
            {name:"0°", rhs:[
              {name:"0", rhs:[]},
            ]},
            {name:"30 OR π/6", rhs:[
              {name:"1/sqrt(3)", rhs:[]},

            ]},
            {name:"45° OR π/4", rhs:[
              {name:"1", rhs:[]},

            ]},
            {name:"60° OR π/3", rhs:[
              {name:"sqrt(3)", rhs:[]},

            ]},
            {name:"90° OR π/2", rhs:[
              {name:"undefined", rhs:[]},
            ]},

          ]},
          {name:"angles", rhs:[
              {name:"π/12", rhs:[
                {name:"", rhs:[
                  {name:"15°", rhs:[]},
                ]},
              ]},
              {name:"7π/12", rhs:[
                {name:"π/4 + π/3", rhs:[
                  {name:"105°", rhs:[
                    
                  ]},
                ]},
              ]},
          ]},
// TODO: like what is the radius of simple angles like 1degree 2degrees and 3 degrees etc?
// we'd like to see if we can use a phenomenon like this to calculate/approximate almost
// any/more possible angles and radius lengths from a more established base/foundation.
            
        ]},
        {name:"Trigonemetric Periods", rhs:[
          {name:"2π", rhs:[
            {name:"sin, cos, sec, cosec", rhs:[]},
          ]},
          {name:"π", rhs:[
            {name:"tan, cot", rhs:[]},
          ]},
          {name:"solutions", rhs:[
            {name:"25π/6", rhs:[
              {name:"(2)(2)π + π/6)", rhs:[
                {name:"sin(π/6) = 1/2", rhs:[
                  
                ]},
              ]},
            ]},
            {name:"7π/12", rhs:[
              {name:"sin(π/3 + π/4)", rhs:[
                {name:"= sin(π/3)cos(π/4) + cos(π/3)sin(π/4)", rhs:[
                  {name:"= (1 + sqrt(3)) / (2sqrt(2))", rhs:[]},                  
                ]},
              ]},
            ]},
            {name:"sin^4(t)", rhs:[
              {name:"(sin^2(t))^2", rhs:[
                {name:"= ((1 - cos(2t)) / 2)^2", rhs:[
                  {name:"= ... <add-rest-of-factoriation-steps...>", rhs:[]},                  
                ]},
              ]},
            ]},
            // TODO: add worked examples 3.2.6 a) and b) here
            // TODO: ++ Solve tut questions

          ]},
        ]},
        {name:"3.3 Inverse Trigonometric Identities", rhs:[
          {name:"3.3.1 The arcsin Function", rhs:[
            {name:"sin", rhs:[
              {name:"domain[-π/2, π/2]", rhs:[]},
              {name:"critical: at (0, 0)", rhs:[]},
              {name:"range[-1,1]", rhs:[]},
            ]},
            {name:"arcsin", rhs:[
              {name:"domain[-1,1]", rhs:[]},
              {name:"range[-π/2, π/2]", rhs:[]},
            ]},

          ]},
          {name:"3.3.2 The arccos Function", rhs:[
            {name:"cos", rhs:[
              {name:"domain[0, π]", rhs:[]},
              {name:"critical: at (π/2, 0)", rhs:[]},
              {name:"range[-1,1]", rhs:[]},
            ]},
            {name:"arccos", rhs:[
              {name:"domain[-1,1]", rhs:[]},
              {name:"range[0, π]", rhs:[]},
            ]},

          ]},
          {name:"3.3.3 The arctan Function", rhs:[
            {name:"tan", rhs:[
              {name:"domain(-π/2, π/2)", rhs:[]},
              {name:"critical: at (0, 0)", rhs:[]},
              {name:"range(-oo, oo)", rhs:[]},
            ]},
            {name:"arctan", rhs:[
              {name:"domain(-oo, oo)", rhs:[]},
              {name:"range(-π/2, π/2)", rhs:[]},
            ]},

          ]},

        ]},
        {name:"3.4 Trigonometric Equations", rhs:[
          // TODO REWRITE WITH LESS ON ONE LINE:
              // {name:"sin t = a (for 0<a<1)has 2 solutions, 1st and 2nd quadrant", rhs:[]},
              // {name:"sin t = a (for 0<a<1)has 2 solutions, 3rd and 4th quadrant", rhs:[]},
              // {name:" (for 0<a<1)has 2 solutions, 3rd and 4th quadrant", rhs:[]},
          {name:"If x ∈ [−1, 1], then sin θ = x", rhs:[
            {name:"if and only if there is k ∈ Z such that θ = arcsin x + 2kπ", rhs:[                  
            ]},
            {name:"or θ = π − arcsin x + 2kπ.", rhs:[
            ]},
            {name:"If |x| > 1, then sinθ = x has no solution.", rhs:[
            ]},

          ]},
          {name:"If x ∈ [−1, 1], then cos θ = x", rhs:[
            {name:"if and only if there is k ∈ Z such that θ = arccos x + 2kπ ", rhs:[                  
            ]},
            {name:"or θ = − arccos x + 2kπ.", rhs:[
            ]},
            {name:"If |x| > 1, then cosθ = x has no solution.", rhs:[
            ]},
              
          ]},

          {name:"If x ∈ R, then tan θ = x", rhs:[
            {name:"if and only if there is k ∈ Z such that θ = arctan x + kπ.", rhs:[]},              
          ]},
        ]},
        {name:"3.5 Polar Co-ordinates", rhs:[
          {name:"3.5.1 Cartesian Co-ordinates and Polar Co-ordinates", rhs:[
            {name:"polar", rhs:[
              {name:"(r, θ))", rhs:[
                {name:"r is the (non-negative) distance of P from the origin;", rhs:[]},
                {name:"θ is the (signed) angle between the positive x-axis and the the line from the origin to the point P.", rhs:[]},
                {name:"NOTE:", rhs:[
                  {name:"(r, θ) and (r, θ + 2nπ), n ∈ Z", rhs:[]},
                    {name:"therefore is many-to-one", rhs:[]},                    
                  ]},
                ]},
            ]},
            {name:"cartesian", rhs:[
                  {name:"(x, y)", rhs:[
                    {name:"We cal (x, y) the cartesian co-ordinates of point P", rhs:[]},

                  ]},

              ]},

          ]},
          {name:"3.5.2 Polar co-ordinates to Cartesian and vice versa", rhs:[
              {name:"to cartesian form: ", rhs:[
                {name:"x = rcos(θ)", rhs:[
                ]},
                {name:"y = rsin(θ)", rhs:[]},
              ]},
              {name:"to polar form:", rhs:[
                {name:"r^2 = x^2 + y^2 (Pythagoras),", rhs:[
                    {name:"tan(θ) = y/x if x != 0", rhs:[                  
                  ]},
                ]},
              ]},

            ]},
            {name:"3.5.3 Polar Equations", rhs:[
              {name:"to cartesian", rhs:[

              {name:"1. multiplied by r", rhs:[]},
              {name:"2. then swap out r^2 and x & y to cartesian from", rhs:[]},
              {name:"solution", rhs:[
                  {name:"r = 2Cos(θ)", rhs:[
                    {name:"= r^2 = 2rCos(θ)", rhs:[
                      {name:"x^2 + y^2 = 2x", rhs:[]},
                    ]}
                  ]},
                  {name:"x = 2", rhs:[
                    {name:"rCos(θ) = 2", rhs:[
                    ]}
                  ]}
                ]},

              ]},
              {name:"to polar", rhs:[
                {name:"1. Step: (swap out r and x & y: to polar form)", rhs:[]},

                {name:"solution", rhs:[
                  {name:"x^2 + y^2 = 2x", rhs:[
                    {name:"= r^2 = 2rCos(θ)", rhs:[
                      {name:"(swap out r and x: to polar form)", rhs:[]},
                    ]}
                  ]}
                ]},
              ]},
              {name:"General Rule:", rhs:[
                {name:"Once swapped out all x and y", rhs:[]},
                {name:"or vica versa all r and θ;", rhs:[]},
                {name:"then we are done", rhs:[]},
              ]},

            ]},
            {name:"3.5.4 Polar Graphs", rhs:[
              // DONE:
              // x axis symmetry
              // y axis symmetry
              // symmetry about the origin
              // plotting graphs

              {name:"3.5.(5 & 6) Summary", rhs:[
              // Nice summary notes
                {name:"(a) if is a circle", rhs:[
                  {name:"When: r = c, c > 0", rhs:[
                    {name:"(when is centre at origin)", rhs:[]},
                  ]},

                ]},
                {name:"(b) if is a ray", rhs:[
                  {name:"When:  θ = k ", rhs:[
                    {name:"(starting at the origin)", rhs:[]},
                  ]},
                ]},
                {name:"(c) if is a spiral", rhs:[
                  {name:"When: r = kθ", rhs:[]},
                  {name:"How To Plot: ", rhs:[
                    {name:"1. Use a table for easy r values", rhs:[]},
                    {name:"2. consider if r increases/decreases", rhs:[
                      {name:"as θ increases.", rhs:[]},
                      {name:"(helps establish the plotting pattern)", rhs:[]},
                    ]},
                    {name:"3. plot until you see a pattern emmerging", rhs:[]},
                  ]},
                  
                ]},
                {name:"(d) if is a polar curves", rhs:[
                  {name:"When: r = a + bsinkθ or r = a + bsinkθ", rhs:[
                  ]},
                  {name:"(d) (Can Give) a leaf/rose:", rhs:[
                    {name:" 2cos(3t) means:", rhs:[
                      {name:"3 leafs with 2 length.", rhs:[]},
                    ]},
                  ]},
                  {name:"(e) (Can Give) a cardioid/circle:", rhs:[]},

                  {name:"How To Plot: ", rhs:[
                    {name:"1. Examine: Symmetry", rhs:[
                      {name:"about the x-axis", rhs:[
                        {name:"⇔ (r, θ) also satisfies (r, -θ)", rhs:[]},
                      ]},
                      {name:"about the y-axis", rhs:[
                        {name:"⇔ (r, θ) also satisfies (r, π - θ)", rhs:[]},
                      ]},
                      {name:"about the origin", rhs:[
                        {name:"⇔ (r, θ) also satisfies (r, π + θ)", rhs:[]},
                      ]},
                    ]},
                    {name:"2. Examine periodicity", rhs:[
                      {name:"i.e +π or +2π etc", rhs:[]},

                    ]},
                    {name:"3. Find where r >= 0", rhs:[
                      {name:"Hence: Plot on θ-r plane", rhs:[]},
                    ]},
                    {name:"4. Find where r is min & max", rhs:[
                      {name:"Can use the cartesian graph for this", rhs:[]},
                    ]},
                    {name:"5. Draw a table of values", rhs:[]},
                    {name:"6. Sketch the graph", rhs:[]},
                  ]},
                ]},

              ]},
              {name:"examples", rhs:[
                {name:"Annulus/Donut", rhs:[
                  {name:"1 < r <= 3", rhs:[]},
                ]},
                {name:"Unbounded Sector/πzza", rhs:[
                  {name:"π/3 < t <= π/2", rhs:[]},
                ]},
                {name:"Archimedes spiral", rhs:[
                  {name:"r = θ", rhs:[]},
                  {name:"or r = -θ (opposite direction)", rhs:[]},
                ]},
                {name:"rose with 3 petals", rhs:[
                  {name:"r = 2Cos(3θ)", rhs:[]},
                ]},
                {name:"cardioid (heart-shape)", rhs:[
                  {name:"r = 1 + sin(θ)", rhs:[]},
                ]},
              ]},

            ]},

        ]},
        {name:"3.6 Expression of the Form acos(x) + bsin(x)", rhs:[
          {name:"Form from", rhs:[
            {name:"acos(x) + bsin(x)", rhs:[]},
            {name:"to", rhs:[]},
            {name:"Rcos(x - theta)", rhs:[
              {name:"= Rcos(theta)cos(x) + Rsin(theta)sin(x)", rhs:[]},
              {name:"= aCos(x) + bSin(x)", rhs:[
                {name:"Where: a= Rcos(theta) & b = Rsin(theta)", rhs:[
                  {name:"Where: (a, b) is the cartesian co-ordinates", rhs:[
                    {name:"of the polar co-ordinate point", rhs:[
                    ]},
                  ]},
                ]},
              ]},
            ]},
          ]},
          {name:"aCos(x) + bSin(x)", rhs:[
            {name:"= Rcos(theta)cos(x) + Rsin(theta)sin(x)", rhs:[]},
            {name:"= Rcos(x - theta)", rhs:[
              {name:"Where: (R, theta) is the polar co-ordinates", rhs:[
                {name:"in Euclidean co-ordinates", rhs:[
                  {name:" a = Rcos(theta) & b = Rsin(theta)", rhs:[
                  ]},
                ]},
              ]},
            ]},
          ]},
          {name:"examples", rhs:[
            {name:"cos(x) + sqrt(3)sin(x) = sqrt(2)", rhs:[
              {name:"a = 1 & b = sqrt(3)", rhs:[
                {name:":. R = sqrt(a^2 + b^2) = sqrt(1^2 + (sqrt(3))^2) = 2", rhs:[
                ]},
                {name:"and tan(theta) = b/a = sqrt(3)", rhs:[
                  {name:"(a, b) lies in the first quadrant", rhs:[
                  ]},
                  {name:":. theta = arctan(sqrt(3)) = pi/3", rhs:[
                  ]},
                ]},
              ]},
              {name:":. cos(x) + sqrt(3)sin(x) = Rcos(x - theta) = 2cos(x - pi/3)", rhs:[
                {name:":. 2cos(x - pi/3) = sqrt(2)", rhs:[
                  {name:" or cos(x - pi/3) = sqrt(2)/2", rhs:[
    
                  ]},
                ]},
                {name:":. = x - pi/3 = arccos(sqrt(2)/2) + 2kpi", rhs:[
                  {name:":. = pi/4 + 2kpi", rhs:[]},
                ]},
                {name:"and x - pi/3 = -arccos(sqrt(2)/2) + 2kpi", rhs:[    
                  {name:":. = -pi/4 + 2kpi", rhs:[]},
                ]},

              ]},
            ]},  
          ]},

        ]},

      ]},
      {name:"4. Mathematical Induction", rhs:[
              // Add the rule notes here
        {name:"4.1 Introduction", rhs:[
          {name:"Fill out all the steps (to get max marks in papers)", rhs:[]},
        ]},
        {name:"4.2 Principle of Mathematical Induction", rhs:[
          {name:"Steps:", rhs:[
            {name:"1. Prove P(1) is the statement LHS >=(or)<= RHS", rhs:[
              {name:"NOTE: this does not always start at 1", rhs:[
                {name:":. 1 here refers to the 1st term.", rhs:[]},
              ]},
            ]},
            {name:"2. show P(k + 1) is true wherever P(k) is true", rhs:[
              {name:"NOTE: choose a side and sub in k + 1", rhs:[
                {name:"and factorise to get it to look like the opposite side", rhs:[]},
              ]},
            ]},
            {name:"3. \"Which shows that P(k + 1) is true.\"", rhs:[
            ]},
            {name:"4. \"Hence by the principle of mathematical induction,\"", rhs:[
              {name:"\"P(n) is true for all n E N.\"", rhs:[]},
            ]},
            {name:"5. \"Thus we have shown that 1 + 2n <= 3^n for all n E N.\"", rhs:[
            ]},

          ]},
          {name:"examples", rhs:[
            {name:"TODO add some tricks here", rhs:[]},
          ]},
          // Add the rule notes here
        ]},

      ]},
      {name:"5 Sigma Notation and Binomial Theorem", rhs:[
        {name:"5.1.1 Introduction to Sigma notation", rhs:[
          {name:"The sum of n terms a_1, a_2, ..., a_n, ", rhs:[
            {name:"is written as (j=1, n)Σ a_j", rhs:[
              {name:"Which: means a_1 + a_2 + ... + a_n.", rhs:[]},
            ]},
          ]},
          {name:"a_j is called the jth term of the sum", rhs:[
            {name:"The subscript j is called:", rhs:[
              {name:"the \"index of summation\"", rhs:[]},
              {name:"and runs through the integers from 1 to n.", rhs:[]},
            ]},
          ]},
          {name:"Theorem 5.1", rhs:[
            {name:"Let m, n, r be integers with r ≤ n or r ≤ m < n,", rhs:[
              {name:"respectively, and let k be a constant. Then", rhs:[
                {name:"1. (i=r, n)Σ(a_i + b_i) = (i=r, n)Σ a_i + (i=r, n)Σ b_i", rhs:[]},
                {name:"2. (i=r, n)Σ(ka_i) = k * (i=r, n)Σ a_i", rhs:[]},
                {name:"3. (i=r, m)Σ a_i + (i=m+1, n)Σ a_i = (i=r, n)Σ a_i", rhs:[]},
                {name:"4. (i=r, n)Σ 1 = n - r + 1", rhs:[]},
                {name:"5. (i=r, n)Σ k = (n - r + 1)k", rhs:[]},
              ]},
            ]},
            {name:"proof: by Mathematical Induction", rhs:[
              {name:"TODO add - but adds Σ in terms of k+1,", rhs:[
                {name:" to it with bound - 1 less, so just k", rhs:[]},
              ]},

            ]},

          ]},
          {name:"Notes", rhs:[
            {name:"Σ only uses INTEGER start and end values...", rhs:[
              // Add the rule notes here
            ]},
            // Add the rule notes here
          ]},


        ]},
        {name:"5.1.2 Revision of Formulae for Some Simple Sums", rhs:[
          {name:"Arithmetic series", rhs:[
            {name:"(j=0,n-1)Σ(a + jd) = n/2[2a + (n - 1)d", rhs:[]},
          ]},
          {name:"Geometric series", rhs:[
            {name:"(j=0,n-1)Σ ar^j = a(1 - r^n)/(1 - r)", rhs:[]},
          ]},
          {name:"Telescoping series", rhs:[
            {name:"trick:", rhs:[
              {name:"1. start with (n+1)^(m+1) - 1", rhs:[
                {name:"and subtract & add all powers r^(m+1) in between", rhs:[]},
                {name:"thus we have ", rhs:[
                  {name:"(n+1)^(m+1) - 1 = (n+1)^(m+1) - n^(m+1) + n^(m+1) - ··· ", rhs:[
                    {name:"- 4^(m+1) +4^(m+1) - 3^(m+1) +3^(m+1) - 2^(m+1) + 2^(m+1) - 1", rhs:[]},
                  ]},
                  {name:"= (r=1,n)Σ((r+1)^(m+1) - r^(m+1))", rhs:[]},
                ]},
              ]},
              {name:"2. now (say) let m = 2", rhs:[
                {name:":. = (r=1, n)Σ 3r^2+3r+1", rhs:[]},
                {name:":. = 3 (r=1, n)Σ r^2 + (3)*((n(n+1))/2) + n", rhs:[]},
              ]},
              {name:"3. Solving for the unkown sum gives:", rhs:[
                {name:":. (r=1, n)Σ r^2 = 1/3((n+1)^3 - 1 - n - (3n(n+1))/2)", rhs:[]},
                {name:":. = n/6(n + 1)(2n + 1)", rhs:[]},
              ]},
              {name:"Summary:", rhs:[
                {name:"Theorem 5.3:", rhs:[
                  {name:"1. (r=1, n)Σ r = n(n+1)/2", rhs:[]},
                  {name:"2. (r=1, n)Σ r^2 = n/6(n+1)(2n+1)", rhs:[]},
                  {name:"3. (r=1, n)Σ r^3 = (n^2(n+1)^2)/4", rhs:[]},
                ]},
              ]},
            ]},
          ]},
          {name:"NOTE:", rhs:[
            {name:"These series all have to start from 1", rhs:[
              {name:"So you need to add on the difference", rhs:[]},
              {name:"And subtract it again in additional sigma", rhs:[]},
            ]},

          ]},


        ]},
        {name:"5.2 Factorials", rhs:[
          {name:"For n E N", rhs:[
            {name:"n! = 1*2*3...(n-2)(n-1)n", rhs:[]},
            {name:"0! = 1!", rhs:[]},
            {name:"is called the \"factorial\"", rhs:[]},
          ]},
          {name:"n! = n(n - 1)!", rhs:[]},
          {name:"For n, k E Z with 0 <= k <= n", rhs:[
            {name:"we define: \"n choose k\": ", rhs:[
              {name:"(n choose k) = n!/(k!(n - k)!)", rhs:[]},              
            ]},
          ]},
          {name:"Theorem 5.4", rhs:[
            {name:"for n, k E Z with 0 <= k <= n: ", rhs:[
              {name:"1. (n choose 0) = (n choose n) = 1", rhs:[]},
              {name:"2. (n choose 1) = (n choose n - 1) = n", rhs:[]},
              {name:"3. (n choose k) = (n choose n - k)", rhs:[]},
              {name:"4. (n choose k) + (n choose k - 1) = (n + 1 choose k)", rhs:[
                {name:" ONLY: if k >= 1", rhs:[]},
              ]},
            ]},
            {name:" Proof:", rhs:[
              {name:"TODO add at some point", rhs:[]},
            ]},

          ]},
          {name:"solutions", rhs:[
            {name:"(n+1)!/(n-1)!", rhs:[
              {name:"= ((n+1)n(n-1)!)/(n-1)!", rhs:[]},
              {name:":. = (n + 1)n", rhs:[]},
            ]},
          ]},

        ]},
        {name:"5.3 The Binomial Theorem", rhs:[
        {name:"n = 0: (a+b)^0 =", rhs:[
          {name:"1", rhs:[]},
        ]},
        {name:"n = 1: (a+b)^1 =", rhs:[
          {name:"a + b", rhs:[]},
        ]},
        {name:"n = 2: (a+b)^2 =", rhs:[
          {name:"a^2 + 2ab + b^2", rhs:[]},
        ]},
        {name:"n = 3: (a+b)^3 =", rhs:[
          {name:"a^3 + 3a^2b + 3ab^2 + b^3", rhs:[]},
        ]},
        {name:"n = 4: (a+b)^4 =", rhs:[
          {name:"a^4 + 4a^3b + 6a^2b^2 + 4ab^3 + b^4", rhs:[]},
        ]},
        {name:"We realise a pattern:", rhs:[
          {name:"1. (a + b)^n yields expansion of n+1 terms", rhs:[]},
          {name:"2. each term (coefficient: a^(n-k) * b^k)", rhs:[
            {name:"where k runs through all integers from 0 to n", rhs:[]},
          ]},
          {name:"3. coefficients symmetrical about vertical axis of triangle", rhs:[
            {name:"i.e first and last coefficient equal 1,", rhs:[]},
            {name:"second and \"penultimate\" equal n", rhs:[]},
          ]},
        ]},
        {name:"Theorem 5.4, 4.", rhs:[
          {name:"(n choose k) if n denote row and k position,", rhs:[
            {name:" satisfies pascals triangle, hence:", rhs:[
              {name:"\"let c = choose\": ", rhs:[]},
              {name:"row 0: (a+b)^0 =", rhs:[
                {name:"(0 c 0)", rhs:[]},
              ]},
              {name:"row 1: (a+b)^1 =", rhs:[
                {name:"(1 c 0)a + (1 c 1)b", rhs:[]},
              ]},
              {name:"row 2: (a+b)^2 =", rhs:[
                {name:"(2 c 0)a^2 + (2 c 1)2ab + (2 c 2)b^2", rhs:[]},
              ]},
              {name:"row 3: (a+b)^3 =", rhs:[
                {name:"(3 c 0)a^3 + (3 c 1)3a^2b + (3 c 2)3ab^2 + (3 c 3)b^3", rhs:[]},
              ]},
              {name:"row 4: (a+b)^4 =", rhs:[
                {name:"(4 c 0)a^4 + (4 c 1)4a^3b + (4 c 2)6a^2b^2 + (4 c 3)4ab^3 + (4 c 4)b^4", rhs:[]},
              ]},
            ]},
          ]},
        ]},
          {name:"Theorem 5.5 (Binomial Theorem)", rhs:[
            {name:"(a+b)^n = (k=0, n)Σ (n c k)a^(n-k) * b^k", rhs:[]},
            {name:"proof: By Mathematical Induction:", rhs:[
              {name:" P(0) = (a+b)^0 = (k=0, 0)Σ (0 c k)a^(0-k) * b^k", rhs:[
                {name:" LHS=(a + b)^0 = 1", rhs:[]},
                {name:" RHS=(k=0, 0)Σ (0 c k)a^(0-k) * b^k", rhs:[
                  {name:" :. = (0 c 0)a^(0-0) * b^0 = 1", rhs:[]},
                ]},
                {name:"Now we assume P(n) is true(induction hypothesis),", rhs:[
                  {name:" so want to show P(n + 1): ", rhs:[
                    {name:" LHS=(a + b)^(n+1) = (a+b)(a+b)^n", rhs:[
                      {name:" =(a + b) (k=0, n)Σ (n c k) a^(n-k)b^(k)", rhs:[
                        {name:"(by induction hypothesis)", rhs:[
                        ]},
                      ]},
                      {name:"TODO: complete the proof here", rhs:[
                      ]},

                    ]},
                    {name:" RHS=(k=0, 0)Σ (0 c k)a^(0-k) * b^k", rhs:[
                      {name:" :. = (0 c 0)a^(0-0) * b^0 = 1", rhs:[]},
                      {name:"TODO: complete the proof here", rhs:[
                      ]},
                    ]},

                  ]},

                ]},
                {name:"TODO: complete the proof here", rhs:[]},

              ]},
            ]},
          ]},
          {name:"NOTE: ", rhs:[
            {name:"1. Theorem 5.5 is symmetrical in a and b :. ", rhs:[
              {name:"(a+b)^n = (k=0, n)Σ (n c k)a^(n-k)b^k", rhs:[]},
              {name:"and", rhs:[]},
              {name:"(a+b)^n = (k=0, n)Σ (n c k)a^kb(n - k)", rhs:[]},
              {name:"are both called Binomial expansion of (a + b)^n", rhs:[]},
            ]},
            {name:"2. (n c k) ar also called \"binomial coefficients\"", rhs:[]},
          ]},
          {name:"solutions", rhs:[
            {name:"TODO: add some base questions and know how to answer them", rhs:[]},
            {name:"Coefficient of x^5 in the expansion of (1 + x)(2 + 3x)^8", rhs:[]},

          ]},


        ]},
        // Add the rule notes here
      ]},
      {name:"6. Conic Sections", rhs:[
        {name:"6.1 Quadratic Forms", rhs:[
          {name:"curves of linnear forms are given by", rhs:[
            {name:"f(x, y) = ax + by + c,", rhs:[
              {name:"((a != 0 or a != 0)", rhs:[
              ]},
            ]},
            {name:"becomes: ", rhs:[
              {name:"ax + by + c = 0, (is a straigh line), ", rhs:[
                {name:"-a/b if b !=0 (is its slope) ", rhs:[]},
                {name:"and verticle line if b = 0, ", rhs:[]},
              ]},
            ]},
          ]},
          {name:"curves by quadratic forms are given by", rhs:[
            {name:"Ax^2 + Bxy + Cy^2 + Dx + Ey + F,", rhs:[
              {name:"(A != 0 or B != 0 or C != 0)", rhs:[
              ]},
            ]},
          ]},

          {name:"Canonical forms: ", rhs:[
            {name:"1. y^2 = 4ax", rhs:[]},
            {name:"2. x^2/a^2 + y^2/b^2 = 1", rhs:[]},
            {name:"3. x^2/a^2 - y^2/b^2 = 1", rhs:[]},
            {name:"(a,b > 0)", rhs:[
            ]},
            {name:"The next 3 points give details about these forms:", rhs:[]},
          ]},


          {name:"6.1.1 Parabola", rhs:[
            {name:"y^2 = 4ax, (a > 0)", rhs:[
              {name:"-1. Other canonical forms obtainted when ", rhs:[
                {name:"x&y interchanged", rhs:[]},
                {name:"and when a is allowed to be negative for parabolas", rhs:[]},
              ]},
              {name:"0. has 1 quadratic and 1 linear term", rhs:[]},

            ]},
          ]},
          {name:"6.1.2 Ellipse", rhs:[
            {name:"x^2/a^2 + y^2/b^2 = 1, (a,b > 0)", rhs:[
              {name:"-1. cuts both axis twice", rhs:[]},
              {name:"0. has 2 quadratic (same signs),", rhs:[
                {name:"and 1 constant term", rhs:[]},
              ]},
              {name:"1. Since y^2/b^2 >=0 it follows that x^2/a^2 <= 1 hence:", rhs:[
                {name:"-a <= x <= a", rhs:[]},
                {name:"-b <= y <= b", rhs:[]},       
              ]},
              {name:"2. Since x^2/a^2+y^2/b^2 is even in both x and y,", rhs:[
                {name:"curve symmetrical about both axis", rhs:[]},
              ]},
              {name:"3. implicit differentiation gives 2x/a^2+2y/b^2 * dy/dx = 0 :.", rhs:[
                {name:"dy/dx=-b^2x/a^2y if y != 0", rhs:[
                  {name:"particularly, has vertical tangents at (+-a, 0)", rhs:[]},
                  {name:"and", rhs:[]},
                  {name:"horizontal tangents at (0, +-b)", rhs:[]},
                ]},
              ]},
              {name:"4. from sign of dy/dx, curve is:", rhs:[
                {name:"decreasing in 1st & 3rd quadrants,", rhs:[]},
                {name:"while increasing in the 2nd & 4th quadrants", rhs:[]},
              ]},
              {name:"5. curve is an ellipse: but", rhs:[
                {name:"if a = b then is a circle with center at origin and radius a", rhs:[
                  {name:"with center at origin", rhs:[]},
                  {name:"and radius a", rhs:[]},
                ]},
              ]},

            ]},
          ]},
          {name:"6.1.3 Hyperbola", rhs:[
            {name:"x^2/a^2 - y^2/b^2 = 1", rhs:[
              {name:"-3. Other canonical forms obtainted when ", rhs:[
                {name:"x&y interchanged", rhs:[]},
              ]},
              {name:"-2. its assymptotes can be found by:", rhs:[
                {name:"replacing the constant on the RHS side by 0", rhs:[]},
              ]},
              {name:"-1. cuts 1 axis ", rhs:[]},
              {name:"0. has 2 quadratic(with opposite signs),", rhs:[
                {name:"and 1 constant term", rhs:[]},
              ]},
              {name:"1. Since y^2/b^2 >=0 it follows that x^2/a^2 >= 1 hence:", rhs:[
                {name:"|x| >= a", rhs:[]},
              ]},
              {name:"2. Since x^2/a^2-y^2/b^2 is even in both x and y,", rhs:[
                {name:"curve symmetrical about both axis", rhs:[]},
              ]},
              {name:"3. implicit differentiation gives 2x/a^2-2y/b^2 * dy/dx = 0 :.", rhs:[
                {name:"dy/dx=b^2x/a^2y if y != 0", rhs:[
                  {name:"particularly, has vertical tangents at (+-a, 0)", rhs:[]},
                  {name:"and NO horizontal tangents", rhs:[
                    {name:"since x != 0 for all points (x,y) on the curve", rhs:[]},
                  ]},
                ]},
              ]},
              {name:"4. from sign of dy/dx, curve is:", rhs:[
                {name:"increasing in 1st & 3rd quadrants,", rhs:[]},
                {name:"while decreasing in the 2nd & 4th quadrants", rhs:[]},
              ]},
              {name:"5. from y^2/x^2 = b^2/a^2 - b^2/x^2,", rhs:[
                {name:"follows that lim x->+-oo y/x = +- b/a, hence:", rhs:[
                  {name:"lines y = +-(b/a)x are", rhs:[]},
                  {name:"\"oblique asymptotes\"", rhs:[]},
                ]},
              ]},

            ]},

          ]},
          {name:"NOTE:", rhs:[
            {name:"1. Not all quadratic form can be reduced,", rhs:[
              {name:"to one of these 3 canonical forms", rhs:[]},
            ]},

            // Add the rule notes here
          ]},

        // Add the rule notes here
        ]},

        // Add the rule notes here
      ]},


    ]},

    {name: "roots", rhs: [
      {name: "rationalisation", rhs: [
        {name: "can only be done when there are roots", rhs: []},

      ]},

    ]},

]};


// lsRecursiveData = {
//     name : "Out of FPS",
//     rhs : [
//       { name : "Rocket", rhs : [] },
//       { name : "diagram render algorithm", rhs : [      { name : "iliad-test-visualiser", rhs : [] }, { name : "AAAA", rhs : [] }, { name : "BBBB", rhs : [] }, { name : "CCCC", rhs : [] }, { name : "this is a test", rhs : [] },    ] },
//       { name : "longitude & latitude", rhs : [] },
//       { name : "Mini map algorithm", rhs : [] },
//       { name : "Space travel", rhs : [      { name : "commit collisions", rhs : [{ name : "FIRST OOOUTER", rhs : [] },{ name : "FIRST OOOUTER", rhs : [] },{ name : "FIRST OOOUTER", rhs : [] },{ name : "FIRST OOOUTER", rhs : [] },{ name : "OOOUTER", rhs : [] },{ name : "OOOUTER-2", rhs : [{ name : "What have we here...", rhs : [] },] },{ name : "Well, well well", rhs : [] },] }, { name : "inner", rhs : [] }, ] },
//       { name : "Mouth animations", rhs : [] },
//       { name : "Space station", rhs : [] },
//       { name : "exploratory missions", rhs : [] },
//       { name : "Scifi city", rhs : [] },
//       { name : "Digital portfolio room", rhs : [] },
//       { name : "Lizzard premise calculus", rhs : [] },
//       { name : "Earth skybox", rhs : [] },
//       { name : "Rocket game", rhs : [      { name : "Conditional decision making", rhs : [] },{ name : "this is a test", rhs : [] },   ] },
//       { name : "Interactions mini games", rhs : [] },
//       { name : "Fingerprints Digital Media", rhs : [] },
//     ]
// };


var xOffsetSpacing = 0//10//20;
var yOffsetSpacing = 2 + 9;
var boxPadding = 2 + 2;
var startPaddingYOffset = 20;
var colourSpectrumStart = 10;
var nodes = [];



const canvas = document.getElementById("myCanvas");
const ctx = canvas.getContext("2d");

ctx.clearRect(0,0,canvas.width,canvas.height);

let centerX = canvas.width / 2, centerY = canvas.height / 2;// todo set to whereever it calculates is needed to be dependant on larger diagrams
// // Point of transform origin
// ctx.arc(100, 0, 80, 20, 2 * Math.PI);
// ctx.fillStyle = "blue";
// ctx.fill();

// // Non-rotated rectangle
// ctx.fillStyle = "gray";
// ctx.fillRect(100, 0, 80, 20);

// // Rotated rectangle
// ctx.rotate((45 * Math.PI) / 180);
// ctx.fillStyle = "red";
// ctx.fillRect(100, 0, 80, 20);

// // Reset transformation matrix to the identity matrix
// ctx.setTransform(1, 0, 0, 1, 0, 0);

// ctx.save();
// ctx.translate(0, 0);
// ctx.rotate(-45 * Math.PI / 180);
// ctx.textAlign = "center";
// ctx.fillText("Your Label Here", 100, 100);
// ctx.restore();

let windowWidth = ctx.canvas.width;//  = window.innerWidth;
let windowHeight = ctx.canvas.height;// = window.innerHeight;
// render all the recursive directories:

let strokeStyles = [// TODO store these for future
  '#ff7571',// 0 peach
  '#ff3b9e',// 1 pink
  '#ff3cc7',// 2 more pink
  '#f440c6',// 3 even more pink
  '#f53cf3',// 4 purplish
  '#d03bf7',// 5 purple
  '#d03bff',// 6 more purple
  '#ac3aff',// 7 even more purple
  '#a478ff',// 8 lilack
  '#8079ff',// 9 indigo
  '#419eff',// 10 blueish
  '#39c1ff',// 11 light blue
  '#2ee3e4',// 12 teal
  '#1effb5',// 13 turquise
  '#1eff8d',// 14 light green
  '#66ff66',// 15 bright green
  '#8dff65',// 16 yellow green
  '#b4ff14',// 17 light yellowish
  '#e1e01a',// 18 yellow
  '#ffbb1e',// 19 light orange
  '#ff9820',// 20 orange
]

var greyedOutColor = "#3e4952";//"#495a60";//"#889ca4";//"#555555";
var collapsedColor = "#FF00FF";
var redOutColor = "rgb(255,80,80)";
var greenedOutColor = "#39FF14";
var specialColors = [
  // greyedOutColor, greyed out isn't special per say.
  redOutColor,
  greenedOutColor,
]

let rootParentNode;


let rootNodeBox = getWordBox(ctx, {
      "x" : 0,
      "y" : 0,
      "size" : 10,//18,
      "message" : lsRecursiveData.name,
      "color" : "#00FFFF",
      "offset" : {//offset will be the spacing you want between the nodes
        "x" : 10, 
        "y" : 10
      }
    });

 let layerMax = [];//an extending array of the tracking of the MaxXLength of each Layer

// var x=150 + 30;
// var y=150;
// var labelRotation=-45;

var totalMaxYLength = 0;

//RENDERS NODES FROM LEFT TO RIGHT:
recursiveRightMostFIrstLayeredNodeTrack([lsRecursiveData], 0, layerMax, rootNodeBox);//do not skip the first element
totalMaxYLength += 2;
recursiveRightMostFIrstNodeRender([lsRecursiveData], 0, 0, layerMax, rootNodeBox, null/* lhs */);
function  recursiveRightMostFIrstLayeredNodeTrack(rhs, layer, layerMax, rootNodeBox) {
    //gets the maxXLength stored per layerCount in layerMax[layerNbr]:
    // let maxXLength = layerMax[layer].nodeXmin;
    let rhsLength = rhs.length;
    let count = 1;
    let numberOfNodes = 0;
    //1. this loop prioritises getting the maxXLength for the Layer
    if (layer >= layerMax.length)
        layerMax.push({nodeXmin : 0, nodeXmax : 0, nodeCount : 0, totalNodeCount : 0, currentPosY : 0});
    let childNodeBox;
    if (rhs && rhs.length > totalMaxYLength)
        totalMaxYLength = rhs.length;
    rhs.forEach(rhsNode => {
        //render each rhs node:
        childNodeBox = getWordBox(ctx, {
        "x" : 0,
        "y" : 0,
        "size" : rootNodeBox.size,
        "message" : rhsNode.name,
        "color" : "orange"// unused currently as using only roots color value...
        });
        //calculate the max of this layer:
        // console.log({"LLAYERR" : layer, "BRX" : childNodeBox.bottomRight.x, "MAX" : layerMax[layer].nodeXmax })
        if (childNodeBox.bottomRight.x >= layerMax[layer].nodeXmax) {
            layerMax[layer].nodeXmin = childNodeBox.bottomLeft.x;
            layerMax[layer].nodeXmax = childNodeBox.bottomRight.x;
        }
        layerMax[layer].totalNodeCount += 1;
        recursiveRightMostFIrstLayeredNodeTrack(rhsNode.rhs, layer + 1, layerMax, rootNodeBox);//do not skip the first element
    });
  return layerMax;
}

var prevAngle;// to know what was the angle of the previous node?
var prevAngleLayer;// to know if it came from a parent or a child to know what to do in that case
function  recursiveRightMostFIrstNodeRender(rhs, totalMaxXLength, layer, layerMax, rootNodeBox, lhs) {
    let rhsLength = rhs.length;

  //2. this loop subtracts the maxXLength of current layer to get starting x position of current layer
  //   and adds this to the sub total for the previous layer to know where it should begin itself on the x axis:
  let boxSize = Math.abs(rootNodeBox.bottomLeft.y - rootNodeBox.topLeft.y);// can optimise this by not keeping it here in the recursive loop as just needs single calculation initially
  let childNodeBox;
  let rhsIndex = -1;
  rhs.forEach(rhsNode => {
    ++rhsIndex;

    childNodeBox = JSON.parse(JSON.stringify(rootNodeBox, function(key, value) {// stringifies but bypasses lhs circular dependency issues:
      if (key === 'lhs') {
        return undefined; // Skip the 'lhs' property
      }
      return value;
    }));

    childNodeBox.message = rhsNode.name;
    childNodeBox.x = totalMaxXLength;//totalMaxXLength;
    if (rhsNode.rhs.length > 0) {
      // get the yposition for this LHS node:
      recursiveRightMostFIrstNodeRender(rhsNode.rhs, totalMaxXLength + layerMax[layer].nodeXmax + xOffsetSpacing, layer + 1, layerMax, rootNodeBox, rhsNode);// totalMaxXLength + maxXLength, layer

      childNodeBox.y = rhsNode.rhs[0].dimensions.topRight.y + 1 + (Math.abs(rhsNode.rhs[0].dimensions.topRight.y - rhsNode.rhs[rhsNode.rhs.length - 1].dimensions.bottomRight.y) / 2) + (boxSize / 4);// div 4 but works
    }
    else {
      // if no rhs :
      // childNodeBox.y = (windowHeight / (rhsLength + 1)) * (count) - (boxSize / 2);//rhsMetaData.lhsYPos;
      if (layer == layerMax.length - 1) {
        childNodeBox.y = (layerMax[layer].nodeCount + 1) * boxSize;//rhsMetaData.lhsYPos;
      } else {
      //DONE: missing scenario:
      //use current layerMax[layerMax.length - 1].bottomRight.y if there is no rhs
        if (layerMax[layerMax.length - 1].currentPosY > 0) {
          childNodeBox.y = layerMax[layerMax.length - 1].currentPosY + boxSize;
          layerMax[layerMax.length - 1].currentPosY += boxSize;
        } else {
          // childNodeBox.y = (layerMax[layer].nodeCount + 1) * boxSize;//rhsMetaData.lhsYPos;
          childNodeBox.y = (layerMax[layer].nodeCount + 1) * boxSize;//rhsMetaData.lhsYPos;
          // childNodeBox.y = 0 + boxSize;
        }
      }

    }
    childNodeBox = getWordBox(ctx, childNodeBox);
    // console.log(childNodeBox);
    // console.log(totalMaxXLength.toString() + JSON.stringify(rhsMetaData));
    // console.log({"boxsize" : boxSize, "layerMax+1" : layerMax, "LYR" : layer});

    //store the nodeSize in the object itself:
    childNodeBox.dimensions = rhsNode.dimensions = {
      topRight : childNodeBox.topRight,
      bottomRight : childNodeBox.bottomRight,
      topLeft : childNodeBox.topLeft,//unused?? No longer unused since can select nodes
      bottomLeft : childNodeBox.bottomLeft,//unused?? No longer unused "  "   "
      message: rhsNode.name
      //...
    }

    // brainstorm:
    // 1 INITIALLY: the radius length should increase per layer thus defaultRadius * (layer + 1)
    // 2. INITIALLY: render the nodes at an equi-distant: (360 / rhsLength) radius distance away from each outher
    // render the nodes here

    if (childNodeBox.bottomRight.y > layerMax[layerMax.length - 1].currentPosY) {
      layerMax[layerMax.length - 1].currentPosY = childNodeBox.bottomRight.y + yOffsetSpacing;
    }

    layerMax[layer].nodeCount += 1;
    // console.log(layerMax[layer].totalNodeCount)

    let msgBox = childNodeBox;
    let boxWidth = (msgBox.dimensions.topRight.x + boxPadding) - (msgBox.dimensions.topLeft.x - boxPadding)
    let boxHeight = (msgBox.dimensions.bottomLeft.y + boxPadding) - (msgBox.dimensions.topLeft.y + - boxPadding)

    // console.log(childNodeBox.message)
    let colour = strokeStyles[(rhsIndex + colourSpectrumStart) % 20];
    let angle;
    if (rhsNode.lhs && rhsNode.lhs.angle) {
      // console.log("LHS: " + rhsNode.lhs.angle +  " - ")
      angle = rhsNode.lhs.angle + (360 / totalMaxYLength);
    } else if (prevAngle) {
      // console.log((360 / totalMaxYLength))
      // console.log("PREV: " + prevAngle +  " - " + prevAngleLayer + " - " + layer + " == " + rhsNode.name)
      if (rhsNode.name == "Earth skybox")
        console.log(rhsNode.name + " " + layer)
      let offsetSpacer = 1 * ((layer / layerMax.length));
      let offsetRatio = (layer > 1 ? ((layer / layerMax.length + offsetSpacer) / (layer * 2/*4*/)) : 1);
      if (prevAngleLayer == layer)
        angle = prevAngle + (360 / totalMaxYLength) * offsetRatio;
      else if (prevAngleLayer < layer) {
        angle = prevAngle + (360 / totalMaxYLength) * offsetRatio;        // for now then just keep this latest angle of the last child so within that range and not incremented
      } else if (prevAngleLayer > layer) {
        angle = prevAngle;// + (360 / totalMaxYLength) * (offsetRatio * (layer / layerMax.length)); 
        // TODO: then if the prevParent is the same node as this rhsNode then don't increment else increment by (360 / totalMaxYLength)
        // TODO: then if the prevParent is the same node as the lhs then only increment by half the total length
      }
    } else {
      angle = (360 / totalMaxXLength);
    }
    prevAngle = angle;
    prevAngleLayer = layer;
    // first validate that the rhsNode.lhs doesn't already have an angle:
    // if (rhsNode.lhs && rhsNode.lhs.angle) {
    //   // then 
    //   angle = rhsNode.lhs.angle + (360 / totalMaxXLength)//(totalMaxYLength)// should + the totalMaxYLength angle increment
    // }
    // else if (layer == layerMax.length - 1) {
    //   // then ratio them an equidistant apart
    //   angle = (360 / layerMax[layer].totalNodeCount) * layerMax[layer].nodeCount// 0//(360 / rhsLength) * rhsIndex;//0;//45  // for now just to get length distance away correct, we set to 0
    // }
    // else if (rhsNode.rhs && rhsNode.rhs.length > 0) {
    //   // then current angle for the node must be the average or center angle of its children nodes
    //   angle = (rhsNode.rhs[0] + rhsNode.rhs[rhsNode.rhs.length - 1]) / 2;
    // } else if (prevAngle) {
    //   // then current angle must take off the prev angle value
    //   angle = prevAngle;
    // }
    // if (!angle) {
    //   console.log("REACHED")
    //   angle = (360 / totalMaxXLength)//(totalMaxYLength)// should + the totalMaxYLength angle increment

    // }
    // console.log("angle: " + angle)
    // prevAngle = angle;

    // drawWordBox(centerX, centerY, childNodeBox, angle, colour);
    let rotTranslate = [msgBox.dimensions.topLeft.x - boxPadding + boxWidth / 2, msgBox.dimensions.topLeft.y + - boxPadding + startPaddingYOffset + boxHeight / 2, 0];
    // let rotTranslateCurr = [1 * 300 * layer - 150 * (0.1 * (layerMax.length - layer)) + layerMax[layer].nodeXmin * (((layer - 1) / layerMax.length)), 0, 0];
    // let rotTranslateCurr = [Math.abs(layerMax[layer].nodeXmax) + boxWidth / 2, 0, 0];
    // let rotTranslateCurr = [Math.abs(layerMax[layer].nodeXmax) + boxWidth / 2 + totalMaxXLength, 0, 0];
    let rotTranslateCurr = [totalMaxXLength + Math.abs(layerMax[layer].nodeXmax) - boxWidth / 2, 0, 0];
    let lineBeginning = [totalMaxXLength + Math.abs(layerMax[layer].nodeXmax), 0, 0];// correct end point
    let lineEnding = [totalMaxXLength + Math.abs(layerMax[layer].nodeXmax) - boxWidth, 0, 0];//correct Front point
    let center = [0, 0, 0];

    // console.log("BW :" + boxWidth + " - " + (layerMax[layer].nodeXmax))
    // console.log("BW :" + layerMax[layer].nodeXmin + " - " + (layerMax[layer].nodeXmax))
    // console.log("RR :" + rotTranslateCurr[0])


    rotatezyx(rotTranslate, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    rotatezyx(rotTranslateCurr, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    rotatezyx(lineEnding, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    if (!lhs)
    {
      lineEnding = [centerX, centerY, 0];
      lineBeginning = [centerX, centerY, 0];
    }
    else {
      lineEnding = [lineEnding[0] + centerX,lineEnding[1] + centerY,lineEnding[2]]
    }

    // let currPosX = rotTranslate[0] + centerX, currPosY = rotTranslate[1] + centerY

    // add the node to the array for future rearrangement here:

    // rhsNode
    rhsNode.colour = colour;
    rhsNode.message = rhsNode.name;
    rhsNode.x = childNodeBox.x;
    rhsNode.y = childNodeBox.y;
    rhsNode.lhs = lhs;
    // NEW circular node information:
    rhsNode.center = { x: rotTranslateCurr[0] + centerX, y: rotTranslateCurr[1] + centerY }// TODO this looks wrong, probably needs to be multiplied not added because length is fixed to 1 in trig and not actual box size representation
    rhsNode.angle = angle;
    rhsNode.nodeEndPos = lineBeginning;
    rhsNode.nodeStartPos = lineEnding;
    rhsNode.rotTranslate = rotTranslate;
    rhsNode.rotTranslateCurr = rotTranslateCurr;
    rhsNode.layer = layer;
    rhsNode.totalMaxXLength = totalMaxXLength;

    childNodeBox.angle = angle;
    childNodeBox.center = { x: rotTranslateCurr[0] + centerX, y: rotTranslateCurr[1] + centerY }
    childNodeBox.rotTranslate = rotTranslate;
    childNodeBox.rotTranslateCurr = rotTranslateCurr;
    childNodeBox.nodeEndPos = lineBeginning;
    childNodeBox.nodeStartPos = lineEnding;
    childNodeBox.layer = layer;
    childNodeBox.totalMaxXLength = totalMaxXLength;
    childNodeBox.lhs = lhs;
    childNodeBox.colour = colour;

    // childNodeBox.lhs = lhs;

    nodes.push({ node: childNodeBox });// NEW CODE: added this back now to add new features


    if (!lhs)
    {
      rootParentNode = childNodeBox;// currentNode then has to be rootParent of all children so store this information here for drawWordBox use.
        // drawWordBox(centerX, centerY, childNodeBox, 0/* remove it's angle*/, colour, lineEnding, rhsNode);//center parent node
    }
    // else {
      // if (childNodeBox.message === "OOOUTER") {
      //   console.log("rotTranslateCurr: ")
      //   rotTranslateCurr = [rotTranslateCurr[0], rotTranslateCurr[1], rotTranslateCurr[2]]
      //   console.log(rotTranslateCurr)
      // }
        // drawWordBox(rotTranslate[0] + centerX, rotTranslate[1] + centerY, childNodeBox, 0*angle, colour);
    drawWordBox(rotTranslateCurr[0] + centerX, rotTranslateCurr[1] + centerY, childNodeBox, angle, colour, lineEnding, rhsNode);
    // }

  });
}

function	getWordBox(ctx, msgBox) {
  ctx.font = msgBox.size + "px Arial";
  let internalMetrics = ctx.measureText(msgBox.message);

  msgBox.actualBoundingBoxLeft = internalMetrics.actualBoundingBoxLeft;
  msgBox.actualBoundingBoxAscent = internalMetrics.actualBoundingBoxAscent;
  msgBox.actualBoundingBoxRight = internalMetrics.actualBoundingBoxRight;
  msgBox.actualBoundingBoxDescent = internalMetrics.actualBoundingBoxDescent;

  updateWordBox(msgBox);

  // let outBox = JSON.parse(JSON.stringify(msgBox));//duplicate json Object  
  let outBox = JSON.parse(JSON.stringify(msgBox, function(key, value) {// stringifies but bypasses lhs circular dependency issues:
    if (key === 'lhs') {
      return undefined; // Skip the 'lhs' property
    }
    return value;
  }));

  return outBox;
}

function  updateWordBox(msgBox) {
  msgBox.topLeft = {
  	"x" : msgBox.x - msgBox.actualBoundingBoxLeft,
    "y" : msgBox.y - msgBox.actualBoundingBoxAscent
  };

  msgBox.topRight = {//msgBox.bottomLeft = {
  	"x" : msgBox.x + msgBox.actualBoundingBoxRight,
  	"y" : msgBox.y - msgBox.actualBoundingBoxAscent
  };

  msgBox.bottomRight = {
  	"x" : msgBox.x + msgBox.actualBoundingBoxRight,
    "y" : msgBox.y + msgBox.actualBoundingBoxDescent
  };

  msgBox.bottomLeft = {//msgBox.topRight = {
  	"x" : msgBox.x - msgBox.actualBoundingBoxLeft,
  	"y" : msgBox.y + msgBox.actualBoundingBoxDescent
  }

  return msgBox;
}

// window.scrollTo(window.width, 0);
// drawWordBox(x, y, labelRotation);
// drawWordBox(x + 100, y, labelRotation + 45);
function   drawWordBox(x, y, msgBox, angle, colour, rotTranslateLineBeginning, rhsNode) {
    var label=msgBox.message;

    ctx.font = rootNodeBox.size + "px Arial";
    let internalMetrics = ctx.measureText(label);

    // msgBox.angle = angle;
    // msgBox.

    let isRootParentNode = !msgBox.lhs;

    // draw lines:
    if (rhsNode.rhs) {
      for (let i = 0; i < rhsNode.rhs.length; i++) {
        ctx.strokeStyle = strokeStyles[(i + colourSpectrumStart) % 20];

        ctx.beginPath();
        // if (isRootParentNode) {
          ctx.moveTo(x, y);
        // } else {
        //   ctx.moveTo(centerX, centerY);
        // }

        ctx.lineTo(
          rhsNode.rhs[i].nodeStartPos[0],
          rhsNode.rhs[i].nodeStartPos[1],
        );
        ctx.closePath();
        ctx.stroke();

      }
    }
    // draw the nodes at their angle and positions:
    ctx.save();
    ctx.textAlign = "center";
    ctx.textBaseline = "middle";

    if (isRootParentNode) {
      ctx.translate(centerX, centerY);
    } else {
      ctx.translate(x, y);      
      if (angle > 90 && angle < 270)
        ctx.rotate((angle + 180) * Math.PI / 180);
      else
        ctx.rotate(angle * Math.PI / 180);
    }
    ctx.beginPath();


// document.getElementById("stdout").innerHTML = internalMetrics.actualBoundingBoxLeft + "<br> " + internalMetrics.actualBoundingBoxAscent + "<br> " + internalMetrics.actualBoundingBoxRight + "<br>" + internalMetrics.actualBoundingBoxDescent;

    ctx.fillStyle = colour//"#00FFFF"//msgBox.color;
    // if (!colour)
    //     console.log((new Error()).stack);

    // console.log("COL: " + (!colour ? msgBox.message : ""));//"#00FFFF"//msgBox.color;

    let length = (internalMetrics.actualBoundingBoxRight - internalMetrics.actualBoundingBoxLeft) + boxPadding;
    let height = (internalMetrics.actualBoundingBoxDescent - internalMetrics.actualBoundingBoxAscent) * boxPadding / 2;
    ctx.roundRect(-0.5 * length, -0.5 * height, length, height, [10]);
    ctx.fill();

    // let boxWidth = (msgBox.dimensions.topRight.x + boxPadding) - (msgBox.dimensions.topLeft.x - boxPadding)
    // let boxHeight = (msgBox.dimensions.bottomLeft.y + boxPadding) - (msgBox.dimensions.topLeft.y + - boxPadding)
    // ctx.beginPath();
    // // ctx.roundRect(msgBox.dimensions.topLeft.x - boxPadding, msgBox.dimensions.topLeft.y + - boxPadding + startPaddingYOffset, boxWidth, boxHeight, [10]);
    // ctx.roundRect(msgBox.dimensions.topLeft.x - boxPadding, msgBox.dimensions.topLeft.y + - boxPadding + startPaddingYOffset, boxWidth, boxHeight, [10]);
    // ctx.fill();

    ctx.fillStyle = "#000000"//"#000000"//msgBox.color;
    ctx.fillText(label, 0 + 1, 0);

    let internalAngles = ctx.measureText(label);


    // NEW for circular node orientation capturing:
    // console.log("INTERNAL ANGLES:", internalAngles, x, y)
    let circularOrientation = getWordBox(ctx, msgBox);// get it now whilst rotated:
    msgBox.circularOrientation = {
      topRight : circularOrientation.topRight,
      bottomRight : circularOrientation.bottomRight,
      topLeft : circularOrientation.topLeft,//unused?? No longer unused since can select nodes
      bottomLeft : circularOrientation.bottomLeft,//unused?? No longer unused "  "   "
      message: msgBox.name,
      internalAngles: internalAngles,
      x: x,
      y: y
    }
    // console.log("COMPARE", getWordBox(ctx, msgBox), tempValDelete);

    // console.log(internalAngles);


    ctx.restore();
    //
    // ctx.beginPath();
    // ctx.arc(internalAngles.actualBoundingBoxLeft,internalAngles.actualBoundingBoxAscent,3,0,Math.PI*2);
    // ctx.closePath();
    // ctx.fill();
    // ctx.arc(x, y,3,0,Math.PI*2);

    // draw the startPos of the node:
    // ctx.beginPath();
    // ctx.arc(rotTranslateLineBeginning[0], rotTranslateLineBeginning[1],3,0,Math.PI*2);
    // ctx.closePath();
    // ctx.fill();


}

function rotatezyx(M, center, beta, theta, phi) {
	// Rotation matrix coefficients
	let		ct, st;
	let		x;
	let		y;
	let		z;

	//z: (moved to top so it can update first which is now correctly)
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(phi);
	st = Math.sin(phi);
	M[0] = ct * x - st * y;
	M[1] = st * x + ct * y;

	//y
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(theta);
	st = Math.sin(theta);
	M[0] = ct * x - st * z;
	M[2] = st * x + ct * z;

	//x
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(beta);
	st = Math.sin(beta);
	M[1] = ct * y - st * z;
	M[2] = st * y + ct * z;

}

  // TODO:
  // 1. DONE: render nodes around the center circle node
  // 2. DONE: render these nodes a consistant distance from each other
  // 3. DONE: render the second layer of nodes
  // 4. DONE: calculate deepest level nodes count and perimeter of that outside space to know how many max nodes can fit there and spread nodes within that radius region evenly 

  // 5. store the processed position and angle results on the node itself.
  // 6. align the current level to the same angle as its latest rhs child node.
  // 7. pad the nodes a bit cleaner so that when we draw the lines we can see them nicely
  // 8. draw the lines

  // 9. store the nodes in a nodes = [], to make selectable like our diagram.js code.

  // CLEANING UP THE CODE:
  // all var variables should be moved more to the top, together.

  // NEW CODE:  ///////////////////////////////////////////////////////////
  function getMousePos(canvas, evt) {
  var rect = canvas.getBoundingClientRect();
  return {
    x: evt.clientX - rect.left,
    y: evt.clientY - rect.top
  };
}

var foundANode = false;// var to expose it to be used elsewhere.
var currentHighlightedNode;// exposes the current/last highlighted node
var emphasizedStateNode;
var prevSelectedNode;

function foundEmphasizedNodeIn(node) {
  if (!emphasizedStateNode)
    return false;

  let found = false;
  let tmpNode = node;
  while (tmpNode) {// lhs traversal
    if (tmpNode === emphasizedStateNode) {
      // renderLhsNodes(tmpNode.lhs, "#FFFFFF")
      // then default colors
      found = true;
      break;
    }
    tmpNode = tmpNode.lhs;
  }
  tmpNode = node;
  while (tmpNode) {// rhs traversal
    if (tmpNode === emphasizedStateNode) {
      found = true;
      break;
    }
    tmpNode = tmpNode.rhs;
  }
  if (!found) {// then greyscale it and its children as isn't emphasized/focused:
    renderLhsNodes(node.lhs, greyedOutColor);//LHS nodes should never take on special colors, only node itself and RHS nodes of it can
    // renderLhsNodes(emphasizedStateNode, null)

    let revertColor = greyedOutColor;
    drawWordBox(node.rotTranslateCurr[0] + centerX, node.rotTranslateCurr[1] + centerY, node, node.angle/*0 remove it's angle*/, revertColor, node.nodeStartPos, node);//center parent node
    // renderNodeBoxWithText(node, revertColor);
    if (!node.collapsed) {
      renderRhsNodes(node.rhs, revertColor);
    }

    let foundCollapsedParent = getCollapsedParent(emphasizedStateNode);
    if (foundCollapsedParent) {
      renderLhsNodes(foundCollapsedParent, null)
    } else {
      renderLhsNodes(emphasizedStateNode, null)
    }
    if (!emphasizedStateNode.collapsed && !foundCollapsedParent) {
      renderRhsNodes(emphasizedStateNode.rhs, null)
    }
  }
  // else {// FOR DEBUG PURPOSES ONLY:
  //   renderLhsNodes(node, "#FFFFFF")
  //   renderRhsNodes(node.lhs.rhs, "#FFFFFF")
  // }

  return false;// else not found any instance of the emphasized node thus you know what color to choose.
}

function	collision_wall(p1, l1, l2, p_buffer) {
// collision_wall(camera_position, [crate.position.x, crate.position.y, crate.position.z], [objects.tree[0][0].position.x, objects.tree[0][0].position.y, objects.tree[0][0].position.z], 0.1)
	let lineLen = Math.sqrt(Math.pow(l1[0] - l2[0], 2) + Math.pow(l1[2] - l2[2], 2)); //dist(x1,y1, x2,y2);
	let d1	    = Math.sqrt(Math.pow(l1[0] - p1[0], 2) + Math.pow(l1[2] - p1[2], 2)); //dist(px,py, x1,y1);
	let d2      = Math.sqrt(Math.pow(l2[0] - p1[0], 2) + Math.pow(l2[2] - p1[2], 2)); //dist(px,py, x2,y2);

  console.log(lineLen, p1, l1, l2, centerY);
  // console.log((d1 + d2) + " || " + lineLen);

  // TODO Need to rather calculate the below based on a more dynamic rectangle approach, like ensuring point is on the correct side of each line
  // to thus determine accurately whether it is within the rectangle or not. Below has the bug of going out of bounds the
  // closer the point is to the center:
	return (1 * (d1+d2 >= lineLen-p_buffer && d1+d2 <= lineLen+p_buffer) + 0 );
	// if (d1+d2 >= lineLen-0.1 && d1+d2 <= lineLen+0.1) {
		// return 1;
	// }
	// else
		// return 0;
	// return (d1 + d2 >= lineLen - p_buffer && d1 + d2 <= lineLen + p_buffer);
}


https://stackoverflow.com/questions/849211/shortest-distance-between-a-point-and-a-line-segment
function sqr(x) { return x * x }
function dist2(v, w) { return sqr(v.x - w.x) + sqr(v.y - w.y) }
function distToSegmentSquared(p, v, w) {
  var l2 = dist2(v, w);
  if (l2 == 0) return dist2(p, v);
  var t = ((p.x - v.x) * (w.x - v.x) + (p.y - v.y) * (w.y - v.y)) / l2;
  t = Math.max(0, Math.min(1, t));
  return dist2(p, { x: v.x + t * (w.x - v.x),
                    y: v.y + t * (w.y - v.y) });
}
function distToSegment(p, v, w) { return Math.sqrt(distToSegmentSquared(p, v, w)); }
///////////////////////////////////////////////////////////////////////////////////////////////

function isWithinBox(nodeIndex, mousePos) {// NEW for mouseMove() with circular renderer
  let i = nodeIndex;
  let pos = mousePos;

    let msgBox = nodes[i].node;
    let boxWidth = (msgBox.dimensions.topRight.x + boxPadding) - (msgBox.dimensions.topLeft.x - boxPadding)
    let boxHeight = (msgBox.dimensions.bottomLeft.y + boxPadding) - (msgBox.dimensions.topLeft.y + - boxPadding)

    let charSize = nodes[i].node.circularOrientation.internalAngles.width / (nodes[i].node.message.length);



    let angle = nodes[i].node.angle;
    let totalMaxXLength = nodes[i].node.totalMaxXLength;
    let layer = nodes[i].node.layer;
    let rotTranslate = [msgBox.dimensions.topLeft.x - boxPadding + boxWidth / 2, msgBox.dimensions.topLeft.y + - boxPadding + startPaddingYOffset + boxHeight / 2, 0];

    // let rotTranslateCurr = [totalMaxXLength + Math.abs(layerMax[layer].nodeXmax) - boxWidth / 2, 0, 0];
    let lineBeginning = [totalMaxXLength + Math.abs(layerMax[layer].nodeXmax), 0, 0];// correct end point
    let lineEnding = [totalMaxXLength + Math.abs(layerMax[layer].nodeXmax) - boxWidth, 0, 0];//correct Front point
    let center = [0, 0, 0];

    // console.log("BW :" + boxWidth + " - " + (layerMax[layer].nodeXmax))
    // console.log("BW :" + layerMax[layer].nodeXmin + " - " + (layerMax[layer].nodeXmax))
    // console.log("RR :" + rotTranslateCurr[0])


    rotatezyx(rotTranslate, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    // rotatezyx(rotTranslateCurr, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    rotatezyx(lineEnding, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    rotatezyx(lineBeginning, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)


    // backup:
    // let lineBeginning = [nodes[i].node.totalMaxXLength + Math.abs(layerMax[nodes[i].node.layer].nodeXmax), 0/*-charSize / 2*/, 0];// correct end point
    // let lineEnding = [nodes[i].node.totalMaxXLength + Math.abs(layerMax[nodes[i].node.layer].nodeXmax) - boxWidth, 0/*-charSize / 2*/, 0];//correct Front point

    // let center = [0, 0, 0];

    // rotatezyx(rotTranslate, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    // rotatezyx(rotTranslateCurr, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)
    // rotatezyx(lineEnding, center, 0, 0, (angle +  Math.atan(rotTranslate[1] / rotTranslate[0])) * Math.PI / 180)

    // console.log("X Y", nodes[i].node.x, nodes[i].node.y)
    // let angle = nodes[i].node.angle;
    let boxEnd = lineBeginning;//[rotTranslate[0] + nodes[i].node.circularOrientation.internalAngles.width / 2, rotTranslate[1], rotTranslate[2]]//[nodes[i].node.circularOrientation.internalAngles.width / 2 + nodes[i].node.x, 0, 0];
    // boxEnd[0] += boxWidth;
    let boxBegin = lineEnding;//[rotTranslate[0] -nodes[i].node.circularOrientation.internalAngles.width / 2, rotTranslate[1], rotTranslate[2]]//[-nodes[i].node.circularOrientation.internalAngles.width / 2 + nodes[i].node.x, 0, 0];

    // backup:
    // rotatezyx(boxBegin, [0, 0, 0], 0, 0, (angle +  Math.atan(boxBegin[1] / boxBegin[0])) * Math.PI / 180)
    // rotatezyx(boxEnd, [0, 0, 0], 0, 0, (angle +  Math.atan(boxEnd[1] / boxEnd[0])) * Math.PI / 180)

    // console.log("arr", [ boxBegin[0] + centerX, boxBegin[1] + centerY, boxBegin[2] ], nodes[i].node.center)

      // let correctedStartPos = [(nodes[i].node.rotTranslateCurr[0] + centerX) + nodes[i].node.rotTranslate[0] + 0.1,
      //   (nodes[i].node.rotTranslateCurr[1] + centerY) + nodes[i].node.rotTranslate[1] + 0.1, 0];
      // let correctedEndPos = [(nodes[i].node.rotTranslateCurr[0] + centerX) + nodes[i].node.rotTranslate[0],
      //   (nodes[i].node.rotTranslateCurr[1] + centerY) + nodes[i].node.rotTranslate[1], 0];
      // console.log("found Node: ", correctedStartPos, correctedEndPos, nodes[i].node);

      
      // if (nodes[i].node.message === "5. Compound Angles:") {
      //   console.log(
      //     distToSegment(
      //       { x: pos.x, y: pos.y },
      //       { x: centerX + boxBegin[0], y: centerY + boxBegin[1] },
      //       { x: centerX + boxEnd[0], y: centerY + boxEnd[1] },

      //     ) <= charSize,
      //     pos,
      //     { x: centerX + boxBegin[0], y: centerY + boxBegin[1] },
      //     { x: centerX + boxEnd[0], y: centerY + boxEnd[1] },

      //   );//, charSize
      // }
      // console.log("charSize" + charSize);

      // )
      
      // }

      // console.log(
      if (distToSegment(
          { x: pos.x, y: pos.y },
          // { x: correctedStartPos[0], y: correctedStartPos[1] },
          // { x: correctedEndPos[0], y: correctedEndPos[1] }
          { x: centerX + boxBegin[0], y: centerY + boxBegin[1] },
          { x: centerX + boxEnd[0], y: centerY + boxEnd[1] },
      //     [centerX + boxBegin[0], 0, centerY + boxBegin[1]],
      //     [centerY + boxEnd[0], 0, centerY + boxEnd[1]],

        ) <= charSize) {
          // rather return items we'd wan't as well:
          return true;//, charSize
      }
      return false;
      // )
      // console.log(
      // collision_wall([pos.x, 0, pos.y],
      //     // [correctedStartPos[0], 0, correctedStartPos[1]],
      //     // [correctedEndPos[0], 0, correctedEndPos[1]],
      //     [centerX + boxBegin[0], 0, centerY + boxBegin[1]],
      //     [centerY + boxEnd[0], 0, centerY + boxEnd[1]],
      //     boxHeight//(nodes[i].node.nodeStartPos[1] - correctedEndPos[1])//4.64599609375 / 2/*thickness?*/
      //   )
      // )

}

var parentBoxHeight;

function mouseMove(evt) {
  parentBoxHeight = lsRecursiveData.dimensions.bottomLeft.y - lsRecursiveData.dimensions.topLeft.y;
  // console.log(lsRecursiveData.dimensions);

  var pos = getMousePos(canvas, evt);
  foundANode = false;

  // loop through nodes and check x coords
  for (let i=0; i < nodes.length; i++) {
    // console.log(nodes[i].node.circularOrientation.topLeft.x +" ||<|| "+ (pos.x - centerX));
    // console.log(findPoint(
    //   nodes[i].node.circularOrientation.topLeft.x, nodes[i].node.circularOrientation.topLeft.y,
    //   nodes[i].node.circularOrientation.bottomLeft.x, nodes[i].node.circularOrientation.bottomLeft.y,
    //   pos.x, pos.y
    // ) ? true : "");
    // if (nodes[i].node.message == "3. Trigonometry") {
    // }


    // if (nodes[i].node.dimensions.topLeft.x < pos.x && nodes[i].node.dimensions.topRight.x > pos.x) {
    //   if (nodes[i].node.dimensions.topLeft.y + startPaddingYOffset < pos.y && nodes[i].node.dimensions.bottomLeft.y + startPaddingYOffset > pos.y) {
    if (isWithinBox(i, pos)) {
        // console.log(nodes[i].node.message);// DONE finds the correct node to highlight at the correct positions.
        // then default prevSelectNode based on
        if (!isParentCollapsed(nodes[i].node)) {

          let currentNode = nodes[i].node;
          let isNotSameNode = prevSelectedNode !== currentNode;
          foundANode = true;

          if (prevSelectedNode && isNotSameNode) {
            drawWordBox(nodes[i].node.rotTranslateCurr[0] + centerX, nodes[i].node.rotTranslateCurr[1] + centerY, prevSelectedNode, prevSelectedNode.angle/*0 remove it's angle*/, prevSelectedNode.colour, prevSelectedNode.nodeStartPos, prevSelectedNode);//center parent node
            // renderNodeBoxWithText(prevSelectedNode, prevSelectedNode.colour);

            renderLhsNodes(prevSelectedNode, null);
          }
          if (isNotSameNode || (emphasizedStateNode)) {

            // if (!nodes[i].node.lhs) {
            //   drawWordBox(centerX, centerY, nodes[i].node, nodes[i].node.angle/*0 remove it's angle*/, "orange", nodes[i].node.nodeStartPos, nodes[i].node);//center parent node
            // } else {
              
              drawWordBox(nodes[i].node.rotTranslateCurr[0] + centerX, nodes[i].node.rotTranslateCurr[1] + centerY, nodes[i].node, nodes[i].node.angle/*0 remove it's angle*/, "orange", nodes[i].node.nodeStartPos, nodes[i].node);//center parent node
            // }
            // renderNodeBoxWithText(nodes[i].node, "orange")

            renderLhsNodes(currentNode.lhs, "orange");
          }
          if (isNotSameNode) {
            currentHighlightedNode = currentNode;
          }
          prevSelectedNode = nodes[i].node;
          // console.log("found node: " + nodes[i].node.name)
          break;
        }
      // }
    }
  }
  if (!foundANode && prevSelectedNode) {
    let foundCollapsedParent = getCollapsedParent(prevSelectedNode);
    if (!foundCollapsedParent) {
      let newColor = prevSelectedNode.specialColor ? prevSelectedNode.specialColor : prevSelectedNode.colour;
      // if (!newColor)
        // console.log(prevSelectedNode)

      drawWordBox(prevSelectedNode.rotTranslateCurr[0] + centerX, prevSelectedNode.rotTranslateCurr[1] + centerY, prevSelectedNode, prevSelectedNode.angle/*0 remove it's angle*/, newColor, prevSelectedNode.nodeStartPos, prevSelectedNode);//center parent node
      // renderNodeBoxWithText(prevSelectedNode, newColor);

      renderLhsNodes(prevSelectedNode.lhs, null);
    } else {
      renderLhsNodes(foundCollapsedParent, null);
    }

      // TODO: fix issue of items in children of collapsed: getting rendered: whether collapsed parent or not and not found a node then:
      foundEmphasizedNodeIn(prevSelectedNode);
    prevSelectedNode = null;
  }
  // context.fillStyle = "#000000";
  // context.fillRect (pos.x, pos.y, 4, 4);
}


function isParentCollapsed(node) {
  let parent = node.lhs;
  while (parent) {
    if (parent.collapsed === true) {
      // console.log(node.name);
      return true;
    }
    parent = parent.lhs;
  }
  return false;
}

function getCollapsedParent(node) {
  let deepestCollapse = null;

  let parent = node.lhs;
  while (parent) {
    if (parent.collapsed === true) {
      deepestCollapse = parent;
    }
    parent = parent.lhs;
  }
  return deepestCollapse;
}

function getEmphasizedParentNode(node) {
  if (!emphasizedStateNode)
    return null;

  let parent = node.lhs;
  while (parent) {
    if (parent === emphasizedStateNode) {
      return parent;
    }
    parent = parent.lhs;
  }
  return null;
}

function renderLhsNodes(lhs, colour) {
  while (lhs) {
    drawWordBox(lhs.rotTranslateCurr[0] + centerX, lhs.rotTranslateCurr[1] + centerY, lhs, lhs.angle/*0 remove it's angle*/, colour ? colour : lhs.colour, lhs.nodeStartPos, lhs);//center parent node
    // renderNodeBoxWithText(lhs, colour ? colour : lhs.colour);

    lhs = lhs.lhs;
  }
}
function renderRhsNodes(rhs, colour) {
  if (rhs) {
    for (let i = 0; i< rhs.length; i++) {
      drawWordBox(rhs[i].rotTranslateCurr[0] + centerX, rhs[i].rotTranslateCurr[1] + centerY, rhs[i], rhs[i].angle/*0 remove it's angle*/, colour ? colour : rhs[i].colour, rhs[i].nodeStartPos, rhs[i]);//center parent node
      // renderNodeBoxWithText(rhs[i], colour ? colour : rhs[i].colour);

      if (!rhs[i].collapsed) {
        renderRhsNodes(rhs[i].rhs, colour)
      }
    }
  }
}
function renderRhsNodesGreyExcept(parent, exceptNode) {
  if (parent) {
    for(let i=0; i< parent.rhs.length; i++) {
      if (parent.rhs[i] !== exceptNode) {
        //DONE: color is already in color and we don't mess with that, just the temp rendering. // backup originalNodeColor : todo rather back it up on first render in originalColor on itself : later can add a userColor
        // set the color to grey (in temp rendering):
        let specialColor = parent.rhs[i].specialColor ? parent.rhs[i].specialColor : greyedOutColor;

        drawWordBox(parent.rhs[i].rotTranslateCurr[0] + centerX, parent.rhs[i].rotTranslateCurr[1] + centerY, parent.rhs[i], parent.rhs[i].angle/*0 remove it's angle*/, specialColor, parent.rhs[i].nodeStartPos, parent.rhs[i]);//center parent node
        // renderNodeBoxWithText(parent.rhs[i], specialColor/* grey or special color supposedly */);

        if (!parent.rhs[i].collapsed) {
          renderRhsNodesGreyExcept(parent.rhs[i], exceptNode);// recur for all sub children except exceptNodes children.
        }
      } else {
        // getCollapsedParent(exceptNode)
        renderLhsNodes(exceptNode, null/* back to its default color */); // all of exceptNodes parents mustn't be grey so undo it now that we past those nodes.
        if (!exceptNode.collapsed) {
          renderRhsNodes(exceptNode.rhs, null);// revert all its children to default colors
        }
      }
    }
  }
}
function renderSubsectionInColor(node, color) {
  if (node) {
    drawWordBox(node.rotTranslateCurr[0] + centerX, node.rotTranslateCurr[1] + centerY, node, node.angle/*0 remove it's angle*/, color, node.nodeStartPos, node);//center parent node
    // renderNodeBoxWithText(node, color);
    for(let i=0; i< node.rhs.length; i++) {
      renderSubsectionInColor(node.rhs[i], color);
    }
  }
}

</script>
<body>
