<meta charset="utf-8">
<style>
body {
  background-color: #241d33;
  perspective: 1080px;
}

/* https://codepen.io/unnegative/pen/dVwYBq */
/* https://dev.to/afif/border-with-gradient-and-radius-387f */
/* https://kswanie21.medium.com/how-to-create-a-smooth-slanted-linear-gradient-with-css-dfa025de2023 */
.rainbow-box {
    position: relative;

    text-align: center;

    /* transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
 */
    /* transform: rotateY(45deg); */

    /* z-index: -1; */
  /* background-color: #302244; */
  /* border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); */
   /* border-box; */
  /* height: 200px; */
  /* border-radius: 120px 20px 120px 20px; */
  /* margin: 1px auto; */
  width: 50%;
  margin-left: 7%;
  margin-right: 7%;
  /* margin-left: 120px; */

}

.rainbow-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    /* padding: 10px; */
    /* background: linear-gradient(45deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); border-box */
    background: linear-gradient(to left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    /* background: linear-gradient(to bottom right, violet, indigo, blue, green, yellow, orange, red); */
    /* border-image: linear-gradient(45deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); border-box */
    border: 5px solid transparent;
    border-image-slice: 1;
    -webkit-mask:
        linear-gradient(#FFF 0 0) content-box,
        linear-gradient(#FFF 0 0);
    -webkit-mask-composite: xor;
        mask-composite: exclude;
}

/* https://w3bits.com/rainbow-text/ */
.rainbow-text {
  /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
  /* background-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red); */
  padding: 2px;
  background-image: linear-gradient(45deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  -webkit-background-clip: text;
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
/* .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(45deg);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
} */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate3d */
.rotated {
  transform: rotate3d(0, 1, 0, 45deg);
  /* background-color: pink; */
}
.rotated-inverse {
  transform: rotate3d(0, 1, 0, -45deg);
  /* float:right; */
  /* float:left; */
  /* position: absolute;
  left:250px; */
  /* background-color: pink; */
}

</style>

<body>
<div style="text-align:center;white-space:nowrap">
    <centre style="display:inline;">
        <!-- <div id="image" style="display:inline;">
            <img src="custom.png" alt="Trulli" width="125" height="125"/>
        </div> -->
        <h1 class="rainbow-text" style="position:relative;bottom:50px;font-size:50px;display:inline-block;">
            NEXUS
        </h1>
    </centre>
</div>
<!-- <h2 class="rainbow-text" style="position:relative;bottom:50px;font-size:30px;display:inline-block;">
    staff files {smahomed}:
</h2> -->
<!-- <br><br><br><br>
<br><br><br> -->


<!-- <div class="flip-card"> -->
    <!-- <div class="flip-card-inner"> -->
    <div class="rotated" style="margin-top:15vw;">
        <div class="rainbow-box" style="float:left;">
            <p class="rainbow-text">
                This section of the UI has not been implemented yet.
                That being said, the intended purpose of this sub
                section is to serve as the central point of all my
                combined research.
            </p>

            <!-- <p class="rainbow-text">
                Shaahid Mahomed is a multi diverse enthusiast,
                who in his spare time experiments with abstract
                concepts, art, data visualisation tool creation,
                automation, virtual simulation inter-alia. This
                bright young talent, with his brilliant attitude
                towards learning and experimenting shows a lot of
                great potential in everything that he does. We are
                often shocked at what he is capable of and he is
                a great inspiration to us all. Keep up the great
                work and never lose that burning curiosity that
                drives you to keep on going!!!
            </p> -->
        </div>
    </div>
    <!-- <img src="staff/shad/profile1.png" alt="Trulli"
        width="400vw" height="auto"
        style="position:absolute;right:15%;top:35vw;"/> -->
 <!-- </div> -->
 <br><br><br><br><br><br>

 <div class="rotated-inverse">
    <div class="rainbow-box" style="float:right;">
        <p class="rainbow-text">
            📅 🔬 🔍 🔎 🔜 🔭 🖥 🗝 🔑 🗺 🚫 🧠 🦅 🦂 🥑 🥃 🥀 🛰 🛡 🗡 🛠 🛒 🚻 🚰 
            ⚠ 🚬 🚪 🚧 🚦 🚥 🚁 🚀 🗨 🗯 🗣 🗞 🗑 🧬 🖨 🕷 🕶 🕰 🕯 🕌 🕋 🔓 🔒 🔐 
            🔋 📩 📦 📡 📚 📘 📖 📓 📑 📐 📏 📌 📈 📉 📂 📁 📀 💿 💻 💺 💸 💶 💳 💱 
            💰 💭 💬 💨 💧 💦 💡 💍 💉 💊 💀 👽 👣 🐾 🐺 🐳 🐎 🐌 🐋 🐍 🐑 🐉 🐅 🏺 
            🏹 🏧 🏦 🏡 🏠 🏟 🏜 🏝 🏛 🏚 🏙 🏘 🏗 🏕 🏔 🏍 🏅 🏆 🏁 🎶 🎯 🎮 🎭 🎬 
            🎨 🎥 🎢 🎡 🎠 🎚 🍼 🍶 🍵 🍳 🍭 🍬 🍫 🍃 🌶 🌵 🌴 🌳 🌲 🌱 🌮 🌭 🌯 🍋 
            🌪 🌩 🌧 🌥 🌤 🙏 🌡 🌙 🌖 🧸 🌐 🌍 🌎 🌏 🌋 🌊 🌉 🌈 🌆 🌃 🌀 🆓 🆒 🆕 
            🆗 🆖 🆔 🆑 🃏 ❌ ❓ ✔ ✅ ✓ ✈ ✂ ⛺ ⛵ ⛳ ⛲ ⛰ ⛓ ⚡ ⚓ ♿ ☕ ⏳ ⌛ ⌚ 🎲 
            🍕 🍔 🍱 ⛔ ☣ ⚛ ☂ ▤ ⛁ ⌸ 🗄 🛢 السلام عليكم ෴ ␀ ☤ 🛗 📶 ═ ║ ╔ ╗ ╚ ╝ 
            ╠ ╣ ╦ ╩ ╬ ␡␛ ⌘ ⌥ ⏎ ⌫ ⇧ ^ 🤞
        </p>
    </div>
</div>


<br><br><br><br><br><br>
<br><br><br><br><br><br>

<div class="rotated">
    <div class="rainbow-box" style="float:left;">
        <p class="rainbow-text">
            Skills<br>
            🔬 3d graphics 🔜 automation 🔭 shell scripting 🗝 algorithms
            🐳 docker 🔑 authentication 🚫 prioritising 🧠 planning
            🦅 descipline 🐉 python 🦂 c/c++ 🍵 java 🕷 javascript
            🥀 hypertext markup language<br> 🛠 debugging 🛰 research
            🛡 testing 🗡 hacking<br> 🛒 api's 🚰 networking 🧬 polyglot programming<br>
            ⚠ deductive reasoning ⌫ refactoring<br> ╬ road planning ⚛ assembly programming
            🏗 implementing 🚧 overcoming ⛓ encryption 🌀 innovation 🏹 geometry 📐 trigonometry<br>
            ▤ data-science 🍃 team-work 🚀 self motivated 🎡 inter-alia

        </p>
    </div>
</div>
<!-- <img src="staff/shad/profile2.png" alt="Trulli"
width="800vw" height="auto"
style="position:absolute;left:-10%;top:950px;"/> -->

<!-- <br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br> -->



<br><br><br><br><br><br>
<br><br><br><br><br><br>

<div class="rotated-inverse">
    <div class="rainbow-box" style="float:right;">
        <p class="rainbow-text">
            Encryption Key: 
            750758b20a705b7bf0f9031abda72e47
            bee1db9a0568888ebd862b006589cb0a
            a756176e7de2a9363d3c27a027a2b141
            4ceee9385226f3ee6438611e9305502c
            e53626049f2ffa9552677b49d3b9d335
            750758b20a705b7bf0f9031abda72e47
            bee1db9a0568888ebd862b006589cb0a
            a756176e7de2a9363d3c27a027a2b141
            4ceee9385226f3ee6438611e9305502c
            e53626049f2ffa9552677b49d3b9d335
            750758b20a705b7bf0f9031abda72e47
            bee1db9a0568888ebd862b006589cb0a
            a756176e7de2a9363d3c27a027a2b141
            4ceee9385226f3ee6438611e9305502c
            e53626049f2ffa9552677b49d3b9d335
        </p>
    </div>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>

<br><br><br><br><br><br>
<br><br><br><br><br><br>

<!-- 
<a class="rainbow-text">
    Leave Days: (19.5) available<br>
    Scheduled leave: unscheduled
</a>
<br><br>


<a class="rainbow-text">
    Personal information document: submitted
</a>
<br>
<a class="rainbow-text">
    Laptop document: submitted
</a>
<br>
<a class="rainbow-text">
    Banking details form: outstanding
</a>
<br><br>

<div style="width:300px">
    <p class="rainbow-text">
        /Library/Webserver/Documents
    </p>
    <p class="rainbow-text">
        /etc/apache2/users
    </p>
    <p class="rainbow-text">
        Welcome to Shaahids mac: Fellow padawans
    </p>
</div>
<br><br> -->

</body>




