
<body>
<p id="stdout"></p>

<script>

let rhsAngles = [1, 1, 1];
// let rhsAngles = [-0.3, 1.0, 25.0];
let l_quad = [0, 180, 180, 360];

document.getElementById("stdout").innerHTML = "" +
    "0: " + rotatexyz([1, 1, 1], [0, 0, 0], 0, 0, 0) + "<br>" +
    "90: " + rotatexyz([1, 1, 1], [0, 0, 0], 90 * Math.PI / 180, 0, 0) + "<br>" +
    "180: " + rotatexyz([1, 1, 1], [0, 0, 0], 180 * Math.PI / 180, 0, 0) + "<br>" +
    "270: " + rotatexyz([1, 1, 1], [0, 0, 0], 270 * Math.PI / 180, 0, 0) + "<br>" +
    "360: " + rotatexyz([1, 1, 1], [0, 0, 0], 360 * Math.PI / 180, 0, 0) + "<br>" +
    "angles: " + rotatezyx(rhsAngles, [0,0,0], -45 * Math.PI / 180, 0 * Math.PI / 180, -45 * Math.PI / 180) + "<br>" +
    // "90: " + rotatexyz(rhsAngles, [0, 0, 0], 0 * -45 * Math.PI / 180, 0, 0) + "<br>" +
    "x: " + ((Math.atan(rhsAngles[2] / rhsAngles[1]) * (180 / Math.PI))) + "<br>" +// y / r
    "y: " + ((Math.atan(rhsAngles[2] / rhsAngles[0]) * (180 / Math.PI))) + "<br>" +// x / r
    "z: " + ((Math.atan(rhsAngles[1] / rhsAngles[0]) * (180 / Math.PI))) + "<br>" +// y / x
    "xX: " + ((Math.atan(rhsAngles[1] / rhsAngles[2]) * (180 / Math.PI))) + "<br>" +// y / r
    "yX: " + ((Math.atan(rhsAngles[0] / rhsAngles[2]) * (180 / Math.PI))) + "<br>" +// x / r
    "zX: " + ((Math.atan(rhsAngles[0] / rhsAngles[1]) * (180 / Math.PI))) + "<br>" +// y / x
    "";
//0 1	z	
//1 2	x
//2 0	y

// document.getElementById("stdout").innerHTML = "" +
//     "0: " + eularAngleRotate([[1, 1, 1],], 0, 0, 0) + "<br>" +
//     "90: " + eularAngleRotate([[1, 1, 1],], 90 * Math.PI / 180, 0, 0) + "<br>" +
//     "180: " + eularAngleRotate([[1, 1, 1],], 180 * Math.PI / 180, 0, 0) + "<br>" +
//     "270: " + eularAngleRotate([[1, 1, 1],], 270 * Math.PI / 180, 0, 0) + "<br>" +
//     "360: " + eularAngleRotate([[1, 1, 1],], 360 * Math.PI / 180, 0, 0) + "<br>" +
//     "angles: " + eularAngleRotate([rhsAngles,], 45 * Math.PI / 180, 0, 0) + "<br>" +
//     "90: " + eularAngleRotate([rhsAngles,], 0 * -45 * Math.PI / 180, 0, 0) + "<br>" +
//     "x: " + ((Math.atan(rhsAngles[0] / rhsAngles[1]) * (180 / Math.PI) +
// 		l_quad[(rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0)]) - 45.0) + "<br>" +
//     "y: " + ((Math.atan(rhsAngles[2] / rhsAngles[0]) * (180 / Math.PI) +
// 		l_quad[(rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0)]) - 45.0) + "<br>" +
//     "z: " + ((Math.atan(rhsAngles[1] / rhsAngles[2]) * (180 / Math.PI) +
// 		l_quad[(rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0)]) - 45.0) + "<br>" +
//     "";

// l_x = 1;
// l_y = 1;
// l_q = (rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0);
// l_q = (rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0);
// l_q = (rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0);
l_quad[(rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0)];
l_quad[(rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0)];
l_quad[(rhsAngles[1] > 0 && rhsAngles[0] < 0) + 2 * (rhsAngles[1] < 0) + (rhsAngles[1] < 0 && rhsAngles[0] > 0)];

// l_quad[l_q]

// y / x
// z / y
// x / z

//ROTATION ALGORITHMS:
// Rotate a vertice
function rotatezyx(M, center, beta, theta, phi) {
	// Rotation matrix coefficients
	let		ct, st;
	let		x;
	let		y;
	let		z;

	//x
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(beta);
	st = Math.sin(beta);
	M[1] = ct * y - st * z;
	M[2] = st * y + ct * z;
//0 1	z
//0 2
//1 0
//1 2	x
//2 0	y
//2 1	
	//y
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(theta);
	st = Math.sin(theta);
	M[2] = ct * z - st * x;
	M[0] = st * z + ct * x;

	//z
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(phi);
	st = Math.sin(phi);
	M[0] = ct * x - st * y;
	M[1] = st * x + ct * y;

	return M;
}


//ROTATION ALGORITHMS:
// Rotate a vertice
function rotatexyz(M, center, beta, theta, phi) {
	// Rotation matrix coefficients
	let		ct, st;
	let		x;
	let		y;
	let		z;

	//x
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(beta);
	st = Math.sin(beta);
	M[1] = ct * y - st * z;
	M[2] = st * y + ct * z;

	//y
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(theta);
	st = Math.sin(theta);
	M[0] = ct * x - st * z;
	M[2] = st * x + ct * z;

	//z
	x = M[0];
	y = M[1];
	z = M[2];
	ct = Math.cos(phi);
	st = Math.sin(phi);
	M[0] = ct * x - st * y;
	M[1] = st * x + ct * y;

	return M;
}

function eularAngleRotate(points, pitch, roll, yaw) {
	//https://stackoverflow.com/questions/34050929/3d-point-rotation-algorithm
	
		let cosa = Math.cos(yaw);
		let sina = Math.sin(yaw);
	
		let cosb = Math.cos(pitch);
		let sinb = Math.sin(pitch);
	
		let cosc = Math.cos(roll);
		let sinc = Math.sin(roll);
	
		let Axx = cosa * cosb;
		let Axy = cosa * sinb * sinc - sina * cosc;
		let Axz = cosa * sinb * cosc + sina * sinc;
	
		let Ayx = sina * cosb;
		let Ayy = sina * sinb * sinc + cosa * cosc;
		let Ayz = sina * sinb * cosc - cosa * sinc;
	
		let Azx = -sinb;
		let Azy = cosb * sinc;
		let Azz = cosb * cosc;
	
		for (let i = 0; i < points.length; i++) {
			let px = points[i][0];
			let py = points[i][1];
			let pz = points[i][2];
	
			points[i][0] = Axx * px + Axy * py + Axz * pz;
			points[i][1] = Ayx * px + Ayy * py + Ayz * pz;
			points[i][2] = Azx * px + Azy * py + Azz * pz;
			// points[i][2] = sina * x + cosa * pz;
			// points[i][2] = sinb * y + cosb * points[i][2];


		}
        return points;
	}
</script>
</body>