/* Copyright - 2023 vinodjangid07 (Vinod ) 

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the “Software”), to deal in the Software without restriction,
including without limitation the rights to use, copy, modify, merge,
publish, distribute, sublicense, and/or sell copies of the Software,
and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

 .checkbox {
  display: none;
}

/* MOON: */
.moonswitch {
  /* left: 100%; */
  /* transform: translateX(-70px); */
  transform: translateX(-35px) translateY(-35px);

  position: fixed;
  width: 60px;
  height: 60px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;

  text-align: center;
}

.powermoon {
  position: relative;
  width: 30%;
  height: 30%;
  /* border: 4px solid rgb(48, 48, 48); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color:rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(151, 243, 255);


  transform-style: preserve-3d;
  transform: rotateZ(30deg) rotateY(-20deg);
  animation: moonAnimate 18s linear infinite;
}

@keyframes moonAnimate {
  0% {
    transform: rotateZ(-360deg) rotateY(-20deg);
  }

  50% {
    transform: rotateZ(360deg) rotateY(-360deg);
  }

  100% {
    transform: rotateZ(0deg) rotateY(-20deg);
  }
}

.checkbox:not(:checked) + .moonswitch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset,
    0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255),
    0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}


/* SUN: */
.sunswitch {
  left: 50%;
  top: 50%;
  transform: translateX(-35px) translateY(-35px);


  position: fixed;
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;

  text-align: center;
}

.powersun {
  position: relative;
  width: 30%;
  height: 30%;
  /* border: 4px solid rgb(48, 48, 48); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color:rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(151, 243, 255);

  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  animation: sunAnimate 5s linear infinite;
}

@keyframes sunAnimate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }

  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}


.checkbox:checked + .sunswitch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(255, 243, 151) inset,
    0px 0px 10px rgb(255, 243, 151) inset,
    0px 0px 40px rgb(255, 243, 151),
    0px 0px 100px rgb(255, 243, 151),
    0px 0px 5px rgb(255, 243, 151);
  border: 2px solid rgb(255, 255, 255);
  /* background-color: rgb(146, 180, 184); */
  background-color: rgb(255, 200, 184);

  animation: sunBrightnessAnimate 3s linear infinite;
}

@keyframes sunBrightnessAnimate {
  0% {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(255, 243, 151) inset,
    0px 0px 10px rgb(255, 243, 151) inset,
    0px 0px 40px rgb(255, 243, 151),
    0px 0px 100px rgb(255, 243, 151),
    0px 0px 5px rgb(255, 243, 151);
  }

  50% {
    box-shadow: 0px 0px 4px rgb(151, 243, 255) inset,
    0px 0px 8px rgb(255, 243, 151) inset,
    0px 0px 40px rgb(255, 243, 151) inset,
    0px 0px 160px rgb(255, 243, 151),
    0px 0px 400px rgb(255, 243, 151),
    0px 0px 20px rgb(255, 243, 151);
  }

  100% {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(255, 243, 151) inset,
    0px 0px 10px rgb(255, 243, 151) inset,
    0px 0px 40px rgb(255, 243, 151),
    0px 0px 100px rgb(255, 243, 151),
    0px 0px 5px rgb(255, 243, 151);
  }

}

/* EARTH: */
.earthswitch {
  /* left: 100%; */
  /* transform: translateX(-70px); */
  transform: translateX(-35px) translateY(-35px);

  position: fixed;
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;

  text-align: center;
}

.powerearth {
  position: relative;
  width: 30%;
  height: 30%;
  /* border: 4px solid rgb(48, 48, 48); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color:rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(151, 243, 255);

  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(-20deg);
  animation: earthAnimate 12s linear infinite;
}

@keyframes earthAnimate {
  0% {
    transform: rotateX(360deg) rotateY(-20deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(-20deg);
  }
}

.checkbox:checked + .earthswitch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 151) inset,
    0px 0px 10px rgb(151, 243, 151) inset,
    0px 0px 40px rgb(151, 243, 151),
    0px 0px 100px rgb(151, 243, 151),
    0px 0px 5px rgb(151, 243, 151);
  border: 2px solid rgb(151, 255, 255);
  /* background-color: rgb(146, 180, 184); */
  background-color: rgb(151, 200, 184);

  animation: earthColorAnimate 12s linear infinite;
}

@keyframes earthColorAnimate {
  0% {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 151) inset,
    0px 0px 10px rgb(151, 243, 151) inset,
    0px 0px 40px rgb(151, 243, 151),
    0px 0px 100px rgb(151, 243, 151),
    0px 0px 5px rgb(151, 243, 151);
    border: 2px solid rgb(151, 255, 255);
    /* background-color: rgb(146, 180, 184); */
    background-color: rgb(151, 200, 184);
  }

  25% {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset,
    0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255),
    0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
    border: 2px solid rgb(255, 255, 255);
    /* background-color: rgb(146, 180, 184); */
    background-color: rgb(255, 200, 184);
  }

  75% {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(255, 243, 151) inset,
    0px 0px 10px rgb(255, 243, 151) inset,
    0px 0px 40px rgb(255, 243, 151),
    0px 0px 100px rgb(255, 243, 151),
    0px 0px 5px rgb(255, 243, 151);
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(146, 180, 184);
  }
  
  100% {
    box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 151) inset,
    0px 0px 10px rgb(151, 243, 151) inset,
    0px 0px 40px rgb(151, 243, 151),
    0px 0px 100px rgb(151, 243, 151),
    0px 0px 5px rgb(151, 243, 151);
    border: 2px solid rgb(151, 255, 255);
    /* background-color: rgb(146, 180, 184); */
    background-color: rgb(151, 200, 184);
  }

}

/* ASTEROID: */
.asteroidswitch {
  left: 50%;
  /* transform: translateX(-70px); */
  transform: translateX(-20px) translateY(-20px);

  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;

  text-align: center;
}

.powerasteroid {
  
  position: relative;
  width: 30%;
  height: 30%;
  /* border: 4px solid rgb(48, 48, 48); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color:rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(151, 243, 255);

  transform-style: preserve-3d;
  transform: rotateZ(30deg) rotateY(-20deg);
  animation: asteroidAnimate 5s linear infinite;
}

@keyframes asteroidAnimate {
  0% {
    transform: rotateZ(360deg) rotateY(-20deg);
  }

  50% {
    transform: rotateZ(-360deg) rotateY(360deg);
  }

  75% {
    transform: rotateZ(0deg) rotateX(-360deg);
  }

  100% {
    transform: rotateZ(0deg) rotateY(-20deg);
  }
}

.checkbox:checked + .asteroidswitch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 151) inset,
    0px 0px 10px rgb(151, 243, 151) inset,
    0px 0px 40px rgb(151, 243, 151),
    0px 0px 100px rgb(151, 243, 151),
    0px 0px 5px rgb(151, 243, 151);
  border: 2px solid rgb(151, 255, 255);
  /* background-color: rgb(146, 180, 184); */
  background-color: rgb(151, 200, 184);

}
