/* Import another CSS file */
@import url("power-ball-light.css");
@import url("./background-animate-stars/stars-background.css");

body {
    /* background-image: url('leaves.water-texture.rainbow-gradient.00.jpeg'); */
    background-image: url('spacey.01.jpeg');
    /* background-image: url('black_hole_galaxy_ray.avif'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: #e8e8e8;
}