/* Import another CSS file */
@import url("power-ball.css");
@import url("./background-animate-stars/stars-background.css");

body {
    /* background-image: url('black_hole_galaxy_ray.avif'); */
    background-image: url('black_hole_galaxy_ray.webp.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: #212121;
 }