<p id="stdout"></p>

<script>

let point = [1, 1, 1];//to be parsed in
let axis = [0, 0, 0]// to be calculated

function showPoint() {
    document.getElementById("stdout").innerHTML = outputMatrix[0][0] + ',' +
    outputMatrix[1][0] + ',' +
    outputMatrix[2][0] + '<br>' +
    outputMatrix[3][0];
}

function    multiplyMatrix(outputMatrix, rotationMatrix, inputMatrix) {
    for (let i = 0; i < 4; i++){
        for (let j = 0; j < 1; j++){
            outputMatrix[i][j] = 0;
            for (let k = 0; k < 4; k++){
                outputMatrix[i][j] += rotationMatrix[i][k] * inputMatrix[k][j];
            }
        }
    }
}

function    arbitraryAxisRotation(angle, point, axis) {
    //https://joombig.com/sqlc/3D-Rotation-Algorithm-about-arbitrary-axis-with-CC-code-tutorials-advance
    let rotationMatrix = [
        [0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]
    ]
    let inputMatrix = [
        [0.0],
        [0.0],
        [0.0],
        [0.0]
    ];
    let outputMatrix = [
        [0.0],
        [0.0],
        [0.0],
        [0.0]
    ]

    let u = axis[0], v = axis[1], w = axis[2];
    let L = (u * u + v * v + w * w);
    angle = angle * Math.PI / 180.0; //converting to radian value
    let u2 = u * u;
    let v2 = v * v;
    let w2 = w * w;

    inputMatrix[0][0] = point[0];
    inputMatrix[1][0] = point[1];
    inputMatrix[2][0] = point[2];
    inputMatrix[3][0] = 1.0;

    // rotationMatrix[0][0] = (u * v * (1 - Math.cos(angle)) + w * Math.sqrt(L) * Math.sin(angle)) / L;
    // rotationMatrix[0][1] = (v2 + (u2 + w2) * Math.cos(angle)) / L;
    // rotationMatrix[0][2] = (v * w * (1 - Math.cos(angle)) - u * Math.sqrt(L) * Math.sin(angle)) / L;
    // rotationMatrix[0][3] = 0.0;
    // rotationMatrix[1][0] = (u * w * (1 - Math.cos(angle)) - v * Math.sqrt(L) * Math.sin(angle)) / L;
    // rotationMatrix[1][1] = (v * w * (1 - Math.cos(angle)) + u * Math.sqrt(L) * Math.sin(angle)) / L;
    // rotationMatrix[1][2] = (w2 + (u2 + v2) * Math.cos(angle)) / L;
    // rotationMatrix[1][3] = 0.0;
    // rotationMatrix[2][0] = (u2 + (v2 + w2) * Math.cos(angle)) / L;
    // rotationMatrix[2][1] = (u * v * (1 - Math.cos(angle)) - w * Math.sqrt(L) * Math.sin(angle)) / L;
    // rotationMatrix[2][2] = (u * w * (1 - Math.cos(angle)) + v * Math.sqrt(L) * Math.sin(angle)) / L;
    // rotationMatrix[2][3] = 0.0;
    // rotationMatrix[3][0] = 0.0;
    // rotationMatrix[3][1] = 0.0;
    // rotationMatrix[3][2] = 0.0;
    // rotationMatrix[3][3] = 1.0;
    rotationMatrix[0][0] = (u2 + (v2 + w2) * Math.cos(angle)) / L;
    rotationMatrix[0][1] = (u * v * (1 - Math.cos(angle)) - w * Math.sqrt(L) * Math.sin(angle)) / L;
    rotationMatrix[0][2] = (u * w * (1 - Math.cos(angle)) + v * Math.sqrt(L) * Math.sin(angle)) / L;
    rotationMatrix[0][3] = 0.0;
    rotationMatrix[1][0] = (u * v * (1 - Math.cos(angle)) + w * Math.sqrt(L) * Math.sin(angle)) / L;
    rotationMatrix[1][1] = (v2 + (u2 + w2) * Math.cos(angle)) / L;
    rotationMatrix[1][2] = (v * w * (1 - Math.cos(angle)) - u * Math.sqrt(L) * Math.sin(angle)) / L;
    rotationMatrix[1][3] = 0.0;
    rotationMatrix[2][0] = (u * w * (1 - Math.cos(angle)) - v * Math.sqrt(L) * Math.sin(angle)) / L;
    rotationMatrix[2][1] = (v * w * (1 - Math.cos(angle)) + u * Math.sqrt(L) * Math.sin(angle)) / L;
    rotationMatrix[2][2] = (w2 + (u2 + v2) * Math.cos(angle)) / L;
    rotationMatrix[2][3] = 0.0;
    rotationMatrix[3][0] = 0.0;
    rotationMatrix[3][1] = 0.0;
    rotationMatrix[3][2] = 0.0;
    rotationMatrix[3][3] = 1.0;

    multiplyMatrix(outputMatrix, rotationMatrix, inputMatrix);
    return [ outputMatrix[0][0], outputMatrix[1][0], outputMatrix[2][0] ];
}

function	atan2Quadrant(x, y) {
			let l_quad = [0.0, 0.0, 360.0, 360.0];

			if (x >= 0 && y >= 0)
				return Math.atan2(y, x) * (180.0 / Math.PI) + l_quad[0];
			if (x < 0 && y >= 0)
				return Math.atan2(y, x) * (180.0 / Math.PI) + l_quad[1];
			if (x < 0 && y < 0)
				return Math.atan2(y, x) * (180.0 / Math.PI) + l_quad[2];
			if (x >= 0 && y < 0)
				return Math.atan2(y, x) * (180.0 / Math.PI) + l_quad[3];
}

//    cout<<"Enter the initial point you want to transform:";
    point = [0.0, 0.0, 1.0]//[ 0.7071067811865474, 0, -0.7071067811865475 ]//[-1.0, 0.0, 0.0];//to be parsed in
    // cout<<"Enter axis vector: ";
    axis = [1.0, 1.0, 0.0]//[ 0.7071067811865476, 0, -0.7071067811865475 ]//[1.0, 0.0, 0.0];
    //y, z, x
    //z, x, y   initial parsethrough

    //z x y     current correlations not synced to rest of other code
    // cout<<"Enter the rotating angle in degree: ";
    // cin>>angle;
    angle = 1.0;//to be parsed in

    let a = arbitraryAxisRotation(angle, point, axis);
    document.getElementById("stdout").innerHTML = a + '<br>' + 
        atan2Quadrant(a[1], a[2]) + ", " + atan2Quadrant(a[2], a[0]) + ", " + atan2Quadrant(a[0], a[1])

    // part.angle[1],
    // atan2Quadrant(m[0][1], m[0][2]),// atan2Quadrant(m[0][1], m[0][2]),
    // atan2Quadrant(m[1][2], m[1][0]),// atan2Quadrant(m[1][2], m[1][0]),

        
    // showPoint();
</script>
