<body>
<p id="stdout"></p>

<script>
var	heightmap_vertices = []
var	heightmap_faces = []
var	height_map = []

var	height_offset = [0, 0, 0]       //# The output vector representing the height to drop map by due to terrain differences


// debug tool
function	ft_write(p_fd, p_line, p_size) {
	let	i;
	
	i = 0;
	while (i < p_line.length && i < p_size) {
		document.getElementById(p_fd).innerHTML += p_line[i]
		i++;
	}
}

function	len(p_vector) {
	return (p_vector.length);
}

function	abs(p_number) {
	return Math.abs(p_number);
}

function	straight_line(p_p1, p_p2, p_time) {
    let l_direction_vector = [p_p1[0] - p_p2[0], p_p1[1] - p_p2[1], p_p1[2] - p_p2[2]];

    return [p_p1[0] - l_direction_vector[0] * p_time, p_p1[1] - l_direction_vector[1] * p_time, p_p1[2] - l_direction_vector[2] * p_time];
}

//# SETTING HEIGHTMAP ARRAY:
function	heightmap_load(p_file, p_heightmap, p_heightmap_vertices) {
    <!-- l_fd = open(p_file, "r") -->

    <!-- l_file = l_fd.read() -->
	let	l_file = p_file.replaceAll("\\n", '\n')//temp until fix the object file_data
    let i = 0
    let l_f = 0 // # for faces section:
    let l_fc = 0

    l_file = l_file.split("\n")


	for (const [l_key, line] of Object.entries(l_file)) {
		<!-- document.getElementById("demo").innerHTML += l_key + " " + line + "<br>" -->
        if (line && line[0] == 'v' && line[1] == ' ') {
            let vertice = line.split(" ");
            p_heightmap_vertices.push([parseFloat(vertice[1]), parseFloat(vertice[2]), parseFloat(vertice[3])])
            i += 1;
		}
        // # sort_faces()
        if (line && line[0] == 'f' && line[1] == ' ') {
            l_fc += 1
            //# GET NUMERIC VERTEX NUMBERS FOR EACH FACE:
            l_face = line.split(" ");
			l_face.splice(0, 1);

            l_face_len = len(l_face)
			for (let i = 0; i < l_face_len; i++)
                l_face[i] = parseInt(l_face[i].split("/")[0]);
            //# print(l_face)

            //# STORE IN APPROPRIATE ORDER:
            //# [4, 1, 3]     [ [ , ], [ ] ]
            let l_arr = [];
            //# SORTS ORDER OF FACE, MAKE READY TO STORE IN HEIGHTMAP VECTOR:
            if (abs(p_heightmap_vertices[l_face[0] - 1][2] - p_heightmap_vertices[l_face[1] - 1][2]) < 0.02) {        // # if same y's
                if (p_heightmap_vertices[l_face[0] - 1][0] < p_heightmap_vertices[l_face[1] - 1][0])     // # if p1 x < p2 x    then 
                    l_arr.push([ l_face[0], l_face[1] ])
                else    //# else store in any horizontal order
                    l_arr.push([ l_face[1], l_face[0] ])
                if (p_heightmap_vertices[l_face[0] - 1][2] > p_heightmap_vertices[l_face[2] - 1][2])     // # then append at top
                    l_arr.splice(0, 0, [ l_face[2] ])
                else       // # else append at bottom
                    l_arr.push([ l_face[2] ])
            } else if (abs(p_heightmap_vertices[l_face[0] - 1][2] - p_heightmap_vertices[l_face[2] - 1][2]) < 0.02) {
                if (p_heightmap_vertices[l_face[0] - 1][0] < p_heightmap_vertices[l_face[2] - 1][0])     // # if p1 x < p2 x    then 
                    l_arr.push([ l_face[0], l_face[2] ])
                else    // # else store in any horizontal order
                    l_arr.push([ l_face[2], l_face[0] ])
                if (p_heightmap_vertices[l_face[0] - 1][2] > p_heightmap_vertices[l_face[1] - 1][2])     // # then append at top
                    l_arr.splice(0, 0, [ l_face[1] ])
                else      // # else append at bottom
                    l_arr.push([ l_face[1] ])
            } else if (abs(p_heightmap_vertices[l_face[1] - 1][2] - p_heightmap_vertices[l_face[2] - 1][2]) < 0.02) {
                if (p_heightmap_vertices[l_face[1] - 1][0] < p_heightmap_vertices[l_face[2] - 1][0])     // # if p1 x < p2 x    then 
                    l_arr.push([ l_face[1], l_face[2] ])
                else    // # else store in any horizontal order
                    l_arr.push([ l_face[2], l_face[1] ])
                if (p_heightmap_vertices[l_face[1] - 1][2] > p_heightmap_vertices[l_face[0] - 1][2])     // # then append at top
                    l_arr.splice(0, 0, [ l_face[0] ])
                else       // # else append at bottom
                    l_arr.push([ l_face[0] ])
            } else
                console.log("HEIGHTMAP ERROR: NOT TRIANGULATED OBJECT OR OBJECT FACES NOT SYMETRICAL. ", p_heightmap_vertices[l_face[0] - 1][2], " : ", p_heightmap_vertices[l_face[1] - 1][2], " : ", p_heightmap_vertices[l_face[2] - 1][2])

            // # STORE AT APPROPRIATE LOCATION IN MEMEORY (&& merge in some instances):
            if (l_f == 0) {                                                      // # first element in heightmap array
                p_heightmap.push( [ l_arr ])    // # store in height_map[0]
            }
			else {   // # else if > or smaller than, store appropriately
                // # # thereafter
                if (p_heightmap_vertices[l_arr[0][0] - 1][2] < p_heightmap_vertices[p_heightmap[0][0][0][0] - 1][2] && abs(p_heightmap_vertices[l_arr[0][0] - 1][2] - p_heightmap_vertices[p_heightmap[0][0][0][0] - 1][2]) > 0.02)
                    p_heightmap.splice(0, 0, [ l_arr ]) //# then append at beginning of height_map array
                else if (p_heightmap_vertices[l_arr[0][0] - 1][2] > p_heightmap_vertices[p_heightmap[len(p_heightmap) - 1][0][0][0] - 1][2] && abs(p_heightmap_vertices[l_arr[0][0] - 1][2] - p_heightmap_vertices[p_heightmap[len(p_heightmap) - 1][0][0][0] - 1][2]) > 0.02)
                    p_heightmap.push([ l_arr ]) //# then append at end of height_map array
                else {
                    let j = 0
                    let found = 1
                    while (j < len(p_heightmap) && found) {                    // # search through heights in height_maps
                        if (abs(p_heightmap_vertices[l_arr[0][0] - 1][2] - p_heightmap_vertices[p_heightmap[j][0][0][0] - 1][2]) < 0.02) {   // # if same y value
                            // # p_heightmap[j].push(p_p_heightmap_vertices[len(p_p_heightmap_vertices) - 1])                   # then add vertice to y layer
                            // # print("SAME LINE REACHED: FOUND ", l_arr)
                            
                            // # loop through width wise
                            let l_i = 0
                            let l_found = 1
                            let p_heightmap_len = len(p_heightmap[j])
                            while (l_i < p_heightmap_len && l_found) {    // # loop through width
                                // # if 2 points match then check if diagnals cause square then merge vertices
                                // # else if no face fits && found correct storage position (then insert)

                                // # IF 2 VERTICES MATCH:
                                let l_count = 0
								let l_matrix;
                                if (abs(p_heightmap_vertices[p_heightmap[j][l_i][0][0] - 1][0] - p_heightmap_vertices[p_heightmap[j][l_i][1][0] - 1][0]) < 0.02) {
                                    l_matrix = [0, 0]
                                    if (p_heightmap[j][l_i][0][len(p_heightmap[j][l_i][0]) - 1] == l_face[0]) {
                                        l_matrix[0] = l_face[0]
                                        l_count += 1
									}
                                    else if (p_heightmap[j][l_i][0][len(p_heightmap[j][l_i][0]) - 1] == l_face[1]) {
                                        l_matrix[0] = l_face[1]
                                        l_count += 1
									}
                                    else if (p_heightmap[j][l_i][0][len(p_heightmap[j][l_i][0]) - 1] == l_face[2]) {
                                        l_matrix[0] = l_face[2]
                                        l_count += 1
									}

                                    if (p_heightmap[j][l_i][1][len(p_heightmap[j][l_i][1]) - 1] == l_face[0]) {
                                        l_matrix[1] = l_face[0]
                                        l_count += 1
									}
                                    else if (p_heightmap[j][l_i][1][len(p_heightmap[j][l_i][1]) - 1] == l_face[1]) {
                                        l_matrix[1] = l_face[1]
                                        l_count += 1
									}
                                    else if (p_heightmap[j][l_i][1][len(p_heightmap[j][l_i][1]) - 1] == l_face[2]) {
                                        l_matrix[1] = l_face[2]
                                        l_count += 1
									}
                                }
								if (l_count == 2) {    // # if 2 vertices match (&& on edge of 1 triangle) then select id of face && merge into this face
                                    l_face_len = len(l_face)
                                    l_id = -1
									for (let t_i = 0; t_i < l_face_len; t_i++)
                                        if (l_face[t_i] != l_matrix[0] && l_face[t_i] != l_matrix[1])
                                            l_id = l_face[t_i]
                                    // # use l_id && store at
                                    if (len(p_heightmap[j][l_i][0]) < 2) {         // # if not max len
                                        p_heightmap[j][l_i][0].push(l_id)
                                        l_found = 0
									}
                                    else if (len(p_heightmap[j][l_i][1]) < 2) {
                                        p_heightmap[j][l_i][1].push(l_id)
                                        l_found = 0
									}
                                }
								else { // # else check front end of triangle for connection
                                    l_count = 0
                                    if (abs(p_heightmap_vertices[p_heightmap[j][l_i][0][len(p_heightmap[j][l_i][0]) - 1] - 1][0] - p_heightmap_vertices[p_heightmap[j][l_i][1][len(p_heightmap[j][l_i][1]) - 1] - 1][0]) < 0.02) {
                                        l_matrix = [0, 0]
                                        if (p_heightmap[j][l_i][0][0] == l_face[0]) {
                                            l_matrix[0] = l_face[0]
                                            l_count += 1
										}
                                        else if (p_heightmap[j][l_i][0][0] == l_face[1]) {
                                            l_matrix[0] = l_face[1]
                                            l_count += 1
										}
                                        else if (p_heightmap[j][l_i][0][0] == l_face[2]) {
                                            l_matrix[0] = l_face[2]
                                            l_count += 1
										}
										
                                        if (p_heightmap[j][l_i][1][0] == l_face[0]) {
                                            l_matrix[1] = l_face[0]
                                            l_count += 1
										}
                                        else if (p_heightmap[j][l_i][1][0] == l_face[1]) {
                                            l_matrix[1] = l_face[1]
                                            l_count += 1
										}
                                        else if (p_heightmap[j][l_i][1][0] == l_face[2]) {
                                            l_matrix[1] = l_face[2]
                                            l_count += 1
										}
                                    }
									if (l_count == 2) {    // # if 2 vertices match (&& on edge of 1 triangle) then select id of face && merge into this face
                                        l_face_len = len(l_face)
                                        l_id = -1
										for (let t_i = 0; t_i < l_face_len; t_i++)
                                            if (l_face[t_i] != l_matrix[0] && l_face[t_i] != l_matrix[1])
                                                l_id = l_face[t_i]
                                        // # use l_id && store at
                                        if (len(p_heightmap[j][l_i][0]) < 2) {
                                            p_heightmap[j][l_i][0].push(l_id)
                                            l_found = 0
										}
                                        else if (len(p_heightmap[j][l_i][1]) < 2) {
                                            p_heightmap[j][l_i][1].push(l_id)
                                            l_found = 0
										}
									}
                                }
								l_i += 1
							}
                            if (l_found == 1) // # if not found: then add at end of p_heightmap[j].push()
                                p_heightmap[j].push( l_arr )
                            found = 0
                        }
						else if (p_heightmap_vertices[l_arr[0][0] - 1][2] - p_heightmap_vertices[p_heightmap[j][0][0][0] - 1][2] < 0) {          //# if y value now smaller then search through value
                            p_heightmap.splice(j, 0, [ l_arr ])                 // # insert new vector at location x in height_maps
                            found = 0
						}
                        j += 1
					}
				}
			}
            l_f += 1
		}
	}
    <!-- print("HEIGHTMAP LOAD END REACHED!!") -->
}

function	terrain_bounds(p_xy_position, p_heightmap, p_heightmap_vertices) {
    // # IF WITHIN BASIC BOUNDS:
    // # print("YESS: ",  heightmap_vertices[p_heightmap[0][0][0][0] - 1][2], " : ", heightmap_vertices[p_heightmap[len(p_heightmap) - 1][0][1][0] - 1][2])

    if (p_xy_position[2] >= p_heightmap_vertices[p_heightmap[0][0][0][0] - 1][2] && p_xy_position[2] <= p_heightmap_vertices[p_heightmap[len(p_heightmap) - 1][0][1][0] - 1][2]) {
        //# THEN FIND WHICH BOUNDS ITS IN
        let l_x = -1
        let l_y = 0
        let l_h_leny = len(p_heightmap)
        //# LOOP THROUGH UNTIL FOUND ROW FOR DECENT Y VALUE RANGE
        while (l_y + 1 < l_h_leny && p_xy_position[2] > p_heightmap_vertices[p_heightmap[l_y + 1][0][1][0] - 1][2])       // # until Y value is within range of a quadrant
            l_y += 1
        //# LOOP THROUGH X AXIS AND COMPARE IF IS A SQUARE AND IF X POSITION WITHIN X RANGES:
        let l_h_lenx = len(p_heightmap[l_y])
        let l_found = 1
        let l_i = 0
        while (l_i < l_h_lenx && l_found) {
            //# CHECK IF SQUARE
            if (len(p_heightmap[l_y][l_i][0]) == 2 && len(p_heightmap[l_y][l_i][1]) == 2) {
                //# CHECK IF xposition WITHIN RANGE  THEN SET l_x to l_i && l_found = 0 
                if (p_xy_position[0] >= p_heightmap_vertices[p_heightmap[l_y][l_i][0][0] - 1][0] - 0.02 && p_xy_position[0] <= p_heightmap_vertices[p_heightmap[l_y][l_i][0][1] - 1][0] + 0.02) {
                    l_x = l_i
                    l_found = 0
				}
			}
            else {
                //# CHECK IF IS A TRIANGLE:
                if (len(p_heightmap[l_y][l_i][0]) == 2 && len(p_heightmap[l_y][l_i][1]) == 1) {
                    if (p_xy_position[0] >= p_heightmap_vertices[p_heightmap[l_y][l_i][0][0] - 1][0] - 0.02 && p_xy_position[0] <= p_heightmap_vertices[p_heightmap[l_y][l_i][0][1] - 1][0] + 0.02)
                        l_found = 0
                    //pass
				}
                else if (len(p_heightmap[l_y][l_i][0]) == 1 && len(p_heightmap[l_y][l_i][1]) == 2) {
                    if (p_xy_position[0] >= p_heightmap_vertices[p_heightmap[l_y][l_i][1][0] - 1][0] - 0.02 && p_xy_position[0] <= p_heightmap_vertices[p_heightmap[l_y][l_i][1][1] - 1][0] + 0.02)
                        l_found = 0
				}
                    //pass
                //pass
			}
            l_i += 1
		}
        if (l_found == 0)    // # if found could be triangle if either l_x == -1 or l_y == -1
            return [l_x, l_y]
        else if (l_x == -1 || l_y == -1)
            return (0)
        else
            return [l_x, l_y]
	}
    return (0)
}

function	point_terrain(p_xy_position, p_xy, p_heightmap, p_heightmap_vertices, p_line_xxy) {
    //# x plane 1:
    time_x = p_xy_position[0] / abs(p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][0][0] - 1][0] + p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][0][1] - 1][0])
    time = time_x

    p_line_xxy[0] = straight_line(p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][0][0] - 1], p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][0][1] - 1], time)

    //# # x plane 2:
    time_x = p_xy_position[0] / abs(p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][1][0] - 1][0] + p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][1][1] - 1][0])
    time = time_x

    p_line_xxy[1] = straight_line(p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][1][0] - 1], p_heightmap_vertices[p_heightmap[p_xy[1]][p_xy[0]][1][1] - 1], time)

    //# # x plane 2:
    time_y = p_xy_position[2] / abs(p_line_xxy[0][2] + p_line_xxy[1][2])
    time = time_y

    p_line_xxy[2] = straight_line(p_line_xxy[0], p_line_xxy[1], time)

    //# DEBUG: PRINT OUTPUTS:
	document.getElementById("stdout").innerHTML += "<br>" + p_line_xxy[0] 
	document.getElementById("stdout").innerHTML += "<br>" + p_line_xxy[1]
	document.getElementById("stdout").innerHTML += "<br>" + p_line_xxy[2]

    return p_line_xxy[2]
}

//# LOAD HEIGHTMAP VERTICES:
<!-- l_cube_object = "# Blender v2.80 (sub 75) OBJ File: ''\\n# www.blender.org\\nmtllib cube.mtl\\no Cube\\nv 1.000000 1.000000 -1.000000\\nv 1.000000 -1.000000 -1.000000\\nv 1.000000 1.000000 1.000000\\nv 1.000000 -1.000000 1.000000\\nv -1.000000 1.000000 -1.000000\\nv -1.000000 -1.000000 -1.000000\\nv -1.000000 1.000000 1.000000\\nv -1.000000 -1.000000 1.000000\\nvt 0.375000 0.000000\\nvt 0.625000 0.000000\\nvt 0.625000 0.250000\\nvt 0.375000 0.250000\\nvt 0.375000 0.250000\\nvt 0.625000 0.250000\\nvt 0.625000 0.500000\\nvt 0.375000 0.500000\\nvt 0.625000 0.750000\\nvt 0.375000 0.750000\\nvt 0.625000 0.750000\\nvt 0.625000 1.000000\\nvt 0.375000 1.000000\\nvt 0.125000 0.500000\\nvt 0.375000 0.500000\\nvt 0.375000 0.750000\\nvt 0.125000 0.750000\\nvt 0.625000 0.500000\\nvt 0.875000 0.500000\\nvt 0.875000 0.750000\\nvn 0.0000 1.0000 0.0000\\nvn 0.0000 0.0000 1.0000\\nvn -1.0000 0.0000 0.0000\\nvn 0.0000 -1.0000 0.0000\\nvn 1.0000 0.0000 0.0000\\nvn 0.0000 0.0000 -1.0000\\nusemtl Material\\ns off\\nf 1/1/1 5/2/1 7/3/1 3/4/1\\nf 4/5/2 3/6/2 7/7/2 8/8/2\\nf 8/8/3 7/7/3 5/9/3 6/10/3\\nf 6/10/4 2/11/4 4/12/4 8/13/4\\nf 2/14/5 1/15/5 3/16/5 4/17/5\\nf 6/18/6 5/19/6 1/20/6 2/11/6"; -->
l_cube_object = "# Blender v2.79 (sub 0) OBJ File: ''\\n# www.blender.org\\nmtllib floor.mtl\\no Floor\\nv 0.000000 0.000000 0.000000\\nv 6.000000 0.000000 0.000000\\nv 0.000000 -0.000002 6.000000\\nv 6.000000 6.000000 6.000000\\nvt 0.625000 0.375000\\nvt 0.500000 0.500000\\nvt 0.500000 0.375000\\nvt 0.625000 0.500000\\nvn 0.0000 1.0000 0.0000\\nusemtl None\\ns 1\\nf 4/1/1 1/2/1 3/3/1\\nf 4/1/1 2/4/1 1/2/1";
heightmap_load(l_cube_object, height_map, heightmap_vertices)

document.getElementById("stdout").innerHTML = ""	// free stdout
//# PRINT THE OUTCOME VECTORS:
document.getElementById("stdout").innerHTML += "<br>" + heightmap_vertices	// free stdout
<!-- print(heightmap_vertices) -->
<!-- print("") -->
<!-- print(height_map) -->
<!-- print("") -->

//# FIND DISTANCE BETWEEN 2 points:
player_pos = [4.0, 0, 4.0]   // # monkey_p = [3.0, 0, 3.0]

//# Find quadrant player_pos lies in:
height_offset = [0, 0, 0]
xy = terrain_bounds(player_pos, height_map, heightmap_vertices)
<!-- print("") -->
<!-- print("XY 2: ", xy) -->
document.getElementById("stdout").innerHTML += "<br>"
document.getElementById("stdout").innerHTML += "<br>" + "XY 2: " + xy	// free stdout
if (xy)
    height_offset = point_terrain(player_pos, xy, height_map, heightmap_vertices, [[0, 0, 0], [0, 0, 0], [0, 0, 0]])


document.getElementById("stdout").innerHTML += "<br>"
ft_write("stdout", "works", 4)


</script>

</body>