<body>
<p id="stdout"></p>

<script>

function	ft_write(p_fd, p_line, p_size) {
	let	i;
	
	i = 0;
	while (i < p_line.length && i < p_size) {
		document.getElementById(p_fd).innerHTML += p_line[i]
		i++;
	}
}


//# LOAD HEIGHTMAP VERTICES:
l_cube_object = "# Blender v2.80 (sub 75) OBJ File: ''\\n# www.blender.org\\nmtllib cube.mtl\\no Cube\\nv 1.000000 1.000000 -1.000000\\nv 1.000000 -1.000000 -1.000000\\nv 1.000000 1.000000 1.000000\\nv 1.000000 -1.000000 1.000000\\nv -1.000000 1.000000 -1.000000\\nv -1.000000 -1.000000 -1.000000\\nv -1.000000 1.000000 1.000000\\nv -1.000000 -1.000000 1.000000\\nvt 0.375000 0.000000\\nvt 0.625000 0.000000\\nvt 0.625000 0.250000\\nvt 0.375000 0.250000\\nvt 0.375000 0.250000\\nvt 0.625000 0.250000\\nvt 0.625000 0.500000\\nvt 0.375000 0.500000\\nvt 0.625000 0.750000\\nvt 0.375000 0.750000\\nvt 0.625000 0.750000\\nvt 0.625000 1.000000\\nvt 0.375000 1.000000\\nvt 0.125000 0.500000\\nvt 0.375000 0.500000\\nvt 0.375000 0.750000\\nvt 0.125000 0.750000\\nvt 0.625000 0.500000\\nvt 0.875000 0.500000\\nvt 0.875000 0.750000\\nvn 0.0000 1.0000 0.0000\\nvn 0.0000 0.0000 1.0000\\nvn -1.0000 0.0000 0.0000\\nvn 0.0000 -1.0000 0.0000\\nvn 1.0000 0.0000 0.0000\\nvn 0.0000 0.0000 -1.0000\\nusemtl Material\\ns off\\nf 1/1/1 5/2/1 7/3/1 3/4/1\\nf 4/5/2 3/6/2 7/7/2 8/8/2\\nf 8/8/3 7/7/3 5/9/3 6/10/3\\nf 6/10/4 2/11/4 4/12/4 8/13/4\\nf 2/14/5 1/15/5 3/16/5 4/17/5\\nf 6/18/6 5/19/6 1/20/6 2/11/6";
heightmap_load(l_cube_object, height_map, heightmap_vertices)



//# PRINT THE OUTCOME VECTORS:
<!-- print(heightmap_vertices) -->
<!-- print("") -->
<!-- print(height_map) -->
<!-- print("") -->

//# FIND DISTANCE BETWEEN 2 points:
player_pos = [4.0, 0, 4.0]   // # monkey_p = [3.0, 0, 3.0]

//# Find quadrant player_pos lies in:
height_offset = [0, 0, 0]
<!-- xy = terrain_bounds_2(player_pos, height_map, heightmap_vertices) -->
<!-- print("") -->
<!-- print("XY 2: ", xy) -->
<!-- if xy: -->
    <!-- height_offset = point_terrain_2(player_pos, xy, height_map, heightmap_vertices, [[0, 0, 0], [0, 0, 0], [0, 0, 0]]) -->


document.getElementById("stdout").innerHTML = ""	// free stdout
ft_write("stdout", "test", 4)

heightmap_vertices = [2, 4.4];
console.log("tester", heightmap_vertices);	// free stdout
</script>
</body>