<head>
<link rel="stylesheet" href="stars-background.css">

</head>

<body style="background-color: black;">

    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>

</body>