<!-- babylon.min.js v3.3.0 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/babylonjs@3.3.0/babylon.min.js"></script>
<script 
src="https://cdn.jsdelivr.net/npm/babylonjs-gui@3.3.0/babylon.gui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/babylonjs-loaders@3.3.0/babylonjs.loaders.min.js"></script>
 -->
 <head>
<style>
html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}
</style>
</head>
 
 <script src="https://cdn.jsdelivr.net/npm/babylonjs@6.17.0/babylon.min.js"></script>
 <script 
 src="https://cdn.jsdelivr.net/npm/babylonjs-gui@6.17.0/babylon.gui.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/babylonjs-loaders@6.17.0/babylonjs.loaders.min.js"></script>
 
 
 <canvas id="renderCanvas"></canvas>

 <script>
//Babylon.js Version 3.3.0 のライブラリを使用してみました
//Babylon.js Loadersを使用してglTFファイル形式の3Dモデルを表示しています
//ufo というglTF形式の3Dモデルを表示しています
//Playgroundのコードをコピペ・修正してアニメーション切り替えの機能をつけてみました
//
//
//以下URLからの3Dモデルのデータを https://raw.githack.com/ 経由で使用しています
//https://github.com/BabylonJS/Babylon.js/blob/master/Playground/
//https://github.com/BabylonJS/Babylon.js/blob/master/Playground/scenes
//https://github.com/BabylonJS/Babylon.js/blob/master/Playground/scenes/ufo.glb
//
//
//以下のBabylon.jsのPlaygroundのコードをコピペ・修正して表示しています
//https://www.babylonjs-playground.com/indexStable.html#RK9KYX#0
//https://www.babylonjs-playground.com/frame.html#RK9KYX
//
//
//Resources Available Meshes to Import
//https://doc.babylonjs.com/resources/meshes_to_load
//
//Announcing Babylon.js v3.2
//https://blogs.windows.com/buildingapps/2018/05/01/announcing-babylon-js-v3-2/
//

var canvas = document.getElementById("renderCanvas");

var currentGroup;

var createButton = function(group, panel) {
    var button = BABYLON.GUI.Button.CreateSimpleButton("button", group.name);
    //button.paddingTop = "10px";
    button.paddingLeft = "10px";
    button.width = "120px";
    button.height = "50px";
    button.color = "white";
    button.background = "green";
    button.onPointerDownObservable.add(function() {
        if (currentGroup) {
            currentGroup.stop();
        }
        console.log(group);
        group.start(true);
        currentGroup = group;
        //その他の参考サイト
    });
    panel.addControl(button);  
}
        
var createScene = function () {
    // This is really important to tell Babylon.js to use decomposeLerp and matrix interpolation
    BABYLON.Animation.AllowMatricesInterpolation = true;
    
    var scene = new BABYLON.Scene(engine);
    //scene.clearColor = new BABYLON.Color3(0, 1, 1);
    
    //Adding a light
    var light = new BABYLON.HemisphericLight();
    
    //Adding an Arc Rotate Camera
    var camera = new BABYLON.ArcRotateCamera("Camera", 0, 0.8, 4, BABYLON.Vector3.Zero(), scene);
    camera.attachControl(canvas, false);
    camera.lowerRadiusLimit = 1.0;
    camera.upperRadiusLimit = 10.0;

    
    // The first parameter can be used to specify which mesh to import. Here we import all meshes
    // BABYLON.SceneLoader.Append("https://rawcdn.githack.com/BabylonJS/Babylon.js/e38e3cc4f2f91c7da05b45aa08103eaaf201cb58/Playground/scenes/", "ufo.glb", scene, function (newMeshes) {
    // BABYLON.SceneLoader.Append("./", "ufo.glb", scene, function (newMeshes) {
    BABYLON.SceneLoader.Append("./", "castle.glb", scene, function (newMeshes) {

        var mesh = scene.meshes[0];

        // Enable animation blending for all animations
        scene.animationPropertiesOverride = new BABYLON.AnimationPropertiesOverride();
        scene.animationPropertiesOverride.enableBlending = true;
        scene.animationPropertiesOverride.blendingSpeed = 0.02;
        scene.animationPropertiesOverride.loopMode = 1;
        
        // UI
        var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");
        //advancedTexture.renderScale = 0.5;
        var UiPanel = new BABYLON.GUI.StackPanel("horizontal");
        UiPanel.isVertical = false;
        UiPanel.top = "30%";
        UiPanel.width = "370px";
        UiPanel.fontSize = "14px";
        UiPanel.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_RIGHT;
        UiPanel.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;
        advancedTexture.addControl(UiPanel);
        
        // Animation groups
        for (var index = 0; index < scene.animationGroups.length; index++) {
            var group = scene.animationGroups[index];
            // Create a button per group
            createButton(group, UiPanel);
        }
        
        scene.animationGroups[0].start(true);  
        currentGroup = scene.animationGroups[0];
        
    });
    
    return scene;
}

var engine = new BABYLON.Engine(canvas, true, { preserveDrawingBuffer: true, stencil: true });
var scene = createScene();

engine.runRenderLoop(function () {
    if (scene) {
        scene.render();
    }
});

// Resize
window.addEventListener("resize", function () {
    engine.resize();
});

</script> 